In [1]:
import pandas as pd
import numpy as np

merged = pd.read_csv('merged_final.csv')

In [2]:
merged[merged['farm_code'] == "F0016"].info()

<class 'pandas.core.frame.DataFrame'>
Index: 46801 entries, 0 to 46800
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         46801 non-null  int64
 1   check_datetime     46067 non-null  object
 2   측정일자               46067 non-null  object
 3   구역명                46067 non-null  object
 4   farm_code          46801 non-null  object
 5   내부온도               46067 non-null  float64
 6   내부습도               46067 non-null  float64
 7   내부CO2              46067 non-null  float64
 8   근권온도               46067 non-null  float64
 9   내부순간일사량            46067 non-null  float64
 10  측정년도               46067 non-null  float64
 11  측정월                46067 non-null  float64
 12  input_image_name   46801 non-null  object
 13  input_image_path   46801 non-null  object
 14  img_id             46801 non-null  object
 15  area_code          46801 non-null  object
 16  shot_datetime      46801 non-null  object
 17  count_masks        46801 non-null  float64
 18  bbox_image_path    46801 non-null  object
 19  before_img_name    46801 non-null  object
 20  before_img_id      46801 non-null  object
 21  mask_num           46801 non-null  object
 22  mask_id            46801 non-null  object
 23  point_x            46801 non-null  float64
 24  point_y            46801 non-null  float64
 25  size               46801 non-null  int64
 26  color              46801 non-null  object
 27  output_image_path  46801 non-null  object
dtypes: float64(10), int64(2), object(16)
memory usage: 10.4+ MB

In [3]:
merged.drop(merged[merged['farm_code'] == "F0017"].index, inplace=True)

In [4]:
merged['farm_code'].unique()

array(['F0016'], dtype=object)

In [5]:
merged2 = pd.read_csv('merged_f0017.csv')

/tmp/ipykernel_70708/2023799313.py:1: DtypeWarning: Columns (11,12,13,14,15,17,18,19,20,21,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  merged2 = pd.read_csv('merged_f0017.csv')

In [6]:
result = pd.read_csv('result_f0017.csv')

/tmp/ipykernel_70708/1927183740.py:1: DtypeWarning: Columns (11,12,13,14,15,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  result = pd.read_csv('result_f0017.csv')

In [7]:
merged2['farm_code'].unique()

array(['F0016', 'F0017'], dtype=object)

In [8]:
merged2[merged2['farm_code'] == "F0016"].info()

<class 'pandas.core.frame.DataFrame'>
Index: 192405 entries, 0 to 192404
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   check_datetime     192405 non-null  object
 1   측정일자               192405 non-null  object
 2   구역명                192405 non-null  object
 3   farm_code          192405 non-null  object
 4   내부온도               192405 non-null  float64
 5   내부습도               192405 non-null  float64
 6   내부CO2              192405 non-null  float64
 7   근권온도               192405 non-null  float64
 8   내부순간일사량            192405 non-null  float64
 9   측정년도               192405 non-null  float64
 10  측정월                192405 non-null  float64
 11  input_image_name   0 non-null       object
 12  input_image_path   0 non-null       object
 13  img_id             0 non-null       object
 14  area_code          0 non-null       object
 15  shot_datetime      0 non-null       object
 16  count_masks        0 non-null       float64
 17  bbox_image_path    0 non-null       object
 18  before_img_name    0 non-null       object
 19  before_img_id      0 non-null       object
 20  mask_num           0 non-null       object
 21  mask_id            0 non-null       object
 22  point_x            0 non-null       float64
 23  point_y            0 non-null       float64
 24  size               0 non-null       float64
 25  color              0 non-null       object
 26  output_image_path  0 non-null       object
dtypes: float64(11), object(16)
memory usage: 41.1+ MB

In [9]:
merged2.drop(merged2[merged2['farm_code'] == "F0016"].index, inplace=True)

In [10]:
merged2['farm_code'].unique()

array(['F0017'], dtype=object)

In [11]:
merged2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314626 entries, 192405 to 507030
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   check_datetime     313614 non-null  object
 1   측정일자               313614 non-null  object
 2   구역명                313614 non-null  object
 3   farm_code          314626 non-null  object
 4   내부온도               313614 non-null  float64
 5   내부습도               313614 non-null  float64
 6   내부CO2              313614 non-null  float64
 7   근권온도               313614 non-null  float64
 8   내부순간일사량            313614 non-null  float64
 9   측정년도               313614 non-null  float64
 10  측정월                313614 non-null  float64
 11  input_image_name   87832 non-null   object
 12  input_image_path   87832 non-null   object
 13  img_id             87832 non-null   object
 14  area_code          87832 non-null   object
 15  shot_datetime      87832 non-null   object
 16  count_masks        87832 non-null   float64
 17  bbox_image_path    87832 non-null   object
 18  before_img_name    87832 non-null   object
 19  before_img_id      87832 non-null   object
 20  mask_num           87529 non-null   object
 21  mask_id            87529 non-null   object
 22  point_x            87529 non-null   float64
 23  point_y            87529 non-null   float64
 24  size               87529 non-null   float64
 25  color              87527 non-null   object
 26  output_image_path  87529 non-null   object
dtypes: float64(11), object(16)
memory usage: 64.8+ MB

In [12]:
merged2 = merged2.dropna(subset=['input_image_name'])

In [13]:
merged2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87832 entries, 419199 to 507030
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   check_datetime     86820 non-null  object
 1   측정일자               86820 non-null  object
 2   구역명                86820 non-null  object
 3   farm_code          87832 non-null  object
 4   내부온도               86820 non-null  float64
 5   내부습도               86820 non-null  float64
 6   내부CO2              86820 non-null  float64
 7   근권온도               86820 non-null  float64
 8   내부순간일사량            86820 non-null  float64
 9   측정년도               86820 non-null  float64
 10  측정월                86820 non-null  float64
 11  input_image_name   87832 non-null  object
 12  input_image_path   87832 non-null  object
 13  img_id             87832 non-null  object
 14  area_code          87832 non-null  object
 15  shot_datetime      87832 non-null  object
 16  count_masks        87832 non-null  float64
 17  bbox_image_path    87832 non-null  object
 18  before_img_name    87832 non-null  object
 19  before_img_id      87832 non-null  object
 20  mask_num           87529 non-null  object
 21  mask_id            87529 non-null  object
 22  point_x            87529 non-null  float64
 23  point_y            87529 non-null  float64
 24  size               87529 non-null  float64
 25  color              87527 non-null  object
 26  output_image_path  87529 non-null  object
dtypes: float64(11), object(16)
memory usage: 18.8+ MB

In [14]:
merged.drop(columns=['Unnamed: 0'], inplace=True)
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46801 entries, 0 to 46800
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   check_datetime     46067 non-null  object
 1   측정일자               46067 non-null  object
 2   구역명                46067 non-null  object
 3   farm_code          46801 non-null  object
 4   내부온도               46067 non-null  float64
 5   내부습도               46067 non-null  float64
 6   내부CO2              46067 non-null  float64
 7   근권온도               46067 non-null  float64
 8   내부순간일사량            46067 non-null  float64
 9   측정년도               46067 non-null  float64
 10  측정월                46067 non-null  float64
 11  input_image_name   46801 non-null  object
 12  input_image_path   46801 non-null  object
 13  img_id             46801 non-null  object
 14  area_code          46801 non-null  object
 15  shot_datetime      46801 non-null  object
 16  count_masks        46801 non-null  float64
 17  bbox_image_path    46801 non-null  object
 18  before_img_name    46801 non-null  object
 19  before_img_id      46801 non-null  object
 20  mask_num           46801 non-null  object
 21  mask_id            46801 non-null  object
 22  point_x            46801 non-null  float64
 23  point_y            46801 non-null  float64
 24  size               46801 non-null  int64
 25  color              46801 non-null  object
 26  output_image_path  46801 non-null  object
dtypes: float64(10), int64(1), object(16)
memory usage: 9.6+ MB

In [15]:
df = pd.concat([merged, merged2])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134633 entries, 0 to 507030
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   check_datetime     132887 non-null  object
 1   측정일자               132887 non-null  object
 2   구역명                132887 non-null  object
 3   farm_code          134633 non-null  object
 4   내부온도               132887 non-null  float64
 5   내부습도               132887 non-null  float64
 6   내부CO2              132887 non-null  float64
 7   근권온도               132887 non-null  float64
 8   내부순간일사량            132887 non-null  float64
 9   측정년도               132887 non-null  float64
 10  측정월                132887 non-null  float64
 11  input_image_name   134633 non-null  object
 12  input_image_path   134633 non-null  object
 13  img_id             134633 non-null  object
 14  area_code          134633 non-null  object
 15  shot_datetime      134633 non-null  object
 16  count_masks        134633 non-null  float64
 17  bbox_image_path    134633 non-null  object
 18  before_img_name    134633 non-null  object
 19  before_img_id      134633 non-null  object
 20  mask_num           134330 non-null  object
 21  mask_id            134330 non-null  object
 22  point_x            134330 non-null  float64
 23  point_y            134330 non-null  float64
 24  size               134330 non-null  float64
 25  color              134328 non-null  object
 26  output_image_path  134330 non-null  object
dtypes: float64(11), object(16)
memory usage: 28.8+ MB

In [17]:
df.head(1)

,check_datetime,측정일자,구역명,farm_code,내부온도,내부습도,내부CO2,근권온도,내부순간일사량,측정년도,...,bbox_image_path,before_img_name,before_img_id,mask_num,mask_id,point_x,point_y,size,color,output_image_path
0,2021-09-10 13:00:00,2021-09-10,1구역,F0016,27.52,72.22,467.9,22.51,223.17,2021.0,...,/opt/dlami/nvme/SAM_result/F0016/C101/F0016-C1...,F0016-C101-20210910-075908,283f919417b3c53b4089683ba1cf7ca2,F0016-C101-20210910-125907_0,065e7a9bdd5065fe01976ff3f4f49f03,1132.451172,554.744629,535.0,"[[121, 123, 112], [123, 125, 114], [118, 120, ...",image_mask_0.png

In [18]:
df['구역명'].fillna('1구역', inplace=True)

/tmp/ipykernel_70708/3872303807.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['구역명'].fillna('1구역', inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134633 entries, 0 to 507030
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   check_datetime     132887 non-null  object
 1   측정일자               132887 non-null  object
 2   구역명                134633 non-null  object
 3   farm_code          134633 non-null  object
 4   내부온도               132887 non-null  float64
 5   내부습도               132887 non-null  float64
 6   내부CO2              132887 non-null  float64
 7   근권온도               132887 non-null  float64
 8   내부순간일사량            132887 non-null  float64
 9   측정년도               132887 non-null  float64
 10  측정월                132887 non-null  float64
 11  input_image_name   134633 non-null  object
 12  input_image_path   134633 non-null  object
 13  img_id             134633 non-null  object
 14  area_code          134633 non-null  object
 15  shot_datetime      134633 non-null  object
 16  count_masks        134633 non-null  float64
 17  bbox_image_path    134633 non-null  object
 18  before_img_name    134633 non-null  object
 19  before_img_id      134633 non-null  object
 20  mask_num           134330 non-null  object
 21  mask_id            134330 non-null  object
 22  point_x            134330 non-null  float64
 23  point_y            134330 non-null  float64
 24  size               134330 non-null  float64
 25  color              134328 non-null  object
 26  output_image_path  134330 non-null  object
dtypes: float64(11), object(16)
memory usage: 28.8+ MB

In [20]:
df['input_image_name']

0         F0016-C101-20210910-125907
1         F0016-C101-20210910-125907
2         F0016-C101-20210910-165907
3         F0016-C101-20210910-165907
4         F0016-C101-20210910-165907
                     ...
507026    F0017-C101-20240403-084305
507027    F0017-C101-20240403-084305
507028    F0017-C101-20240403-084305
507029    F0017-C101-20240403-084305
507030    F0017-C101-20240403-084305
Name: input_image_name, Length: 134633, dtype: object

In [21]:
df['측정일자']

0         2021-09-10
1         2021-09-10
2         2021-09-10
3         2021-09-10
4         2021-09-10
             ...
507026           NaN
507027           NaN
507028           NaN
507029           NaN
507030           NaN
Name: 측정일자, Length: 134633, dtype: object

In [22]:
# input_image_name에서 날짜 추출 및 변환 함수 정의
def extract_date(image_name):
    date_str = image_name.split('-')[2]  # '-'를 기준으로 나누고 세 번째 요소 추출
    return f"{date_str[:4]}-{date_str[4:6]}-{date_str[6:8]}"

# 측정일자가 NaN인 행에 대해 작업 수행
nan_indices = df[df['측정일자'].isna()].index
for idx in nan_indices:
    image_name = df.at[idx, 'input_image_name']
    date = extract_date(image_name)
    df.at[idx, '측정일자'] = date  # 문자열 형태로 저장

In [23]:
df['측정일자']

0         2021-09-10
1         2021-09-10
2         2021-09-10
3         2021-09-10
4         2021-09-10
             ...
507026    2024-04-03
507027    2024-04-03
507028    2024-04-03
507029    2024-04-03
507030    2024-04-03
Name: 측정일자, Length: 134633, dtype: object

In [24]:
df['측정년도']

0         2021.0
1         2021.0
2         2021.0
3         2021.0
4         2021.0
           ...
507026       NaN
507027       NaN
507028       NaN
507029       NaN
507030       NaN
Name: 측정년도, Length: 134633, dtype: float64

In [25]:
def extract_date(image_name):
    date_str = image_name.split('-')[2]  # '-'를 기준으로 나누고 세 번째 요소 추출
    return f"{date_str[:4]}-{date_str[4:6]}-{date_str[6:8]}"

# 측정일자가 NaN인 행에 대해 작업 수행
nan_indices = df[df['측정년도'].isna()].index
for idx in nan_indices:
    image_name = df.at[idx, 'input_image_name']
    date = extract_date(image_name)
    year = int(date.split('-')[0])  # 연도 추출 및 정수형으로 변환
    df.at[idx, '측정년도'] = float(year)  # float 형태로 저장

In [26]:
df['측정년도']

0         2021.0
1         2021.0
2         2021.0
3         2021.0
4         2021.0
           ...
507026    2024.0
507027    2024.0
507028    2024.0
507029    2024.0
507030    2024.0
Name: 측정년도, Length: 134633, dtype: float64

In [27]:
df['측정월']

0         9.0
1         9.0
2         9.0
3         9.0
4         9.0
         ...
507026    NaN
507027    NaN
507028    NaN
507029    NaN
507030    NaN
Name: 측정월, Length: 134633, dtype: float64

In [28]:
# input_image_name에서 날짜 추출 함수 정의
def extract_date(image_name):
    date_str = image_name.split('-')[2]  # '-'를 기준으로 나누고 세 번째 요소 추출
    return f"{date_str[:4]}-{date_str[4:6]}-{date_str[6:8]}"

# 측정일자가 NaN인 행에 대해 작업 수행
nan_indices = df[df['측정월'].isna()].index
for idx in nan_indices:
    image_name = df.at[idx, 'input_image_name']
    date = extract_date(image_name)
    year, month, _ = map(int, date.split('-'))  # 연도와 월 추출 및 정수형으로 변환
    df.at[idx, '측정년도'] = float(year)  # float 형태로 저장
    df.at[idx, '측정월'] = float(month)  # float 형태로 저장

In [29]:
df['측정월']

0         9.0
1         9.0
2         9.0
3         9.0
4         9.0
         ...
507026    4.0
507027    4.0
507028    4.0
507029    4.0
507030    4.0
Name: 측정월, Length: 134633, dtype: float64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134633 entries, 0 to 507030
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   check_datetime     132887 non-null  object
 1   측정일자               134633 non-null  object
 2   구역명                134633 non-null  object
 3   farm_code          134633 non-null  object
 4   내부온도               132887 non-null  float64
 5   내부습도               132887 non-null  float64
 6   내부CO2              132887 non-null  float64
 7   근권온도               132887 non-null  float64
 8   내부순간일사량            132887 non-null  float64
 9   측정년도               134633 non-null  float64
 10  측정월                134633 non-null  float64
 11  input_image_name   134633 non-null  object
 12  input_image_path   134633 non-null  object
 13  img_id             134633 non-null  object
 14  area_code          134633 non-null  object
 15  shot_datetime      134633 non-null  object
 16  count_masks        134633 non-null  float64
 17  bbox_image_path    134633 non-null  object
 18  before_img_name    134633 non-null  object
 19  before_img_id      134633 non-null  object
 20  mask_num           134330 non-null  object
 21  mask_id            134330 non-null  object
 22  point_x            134330 non-null  float64
 23  point_y            134330 non-null  float64
 24  size               134330 non-null  float64
 25  color              134328 non-null  object
 26  output_image_path  134330 non-null  object
dtypes: float64(11), object(16)
memory usage: 32.8+ MB

In [31]:
df['check_datetime']

0         2021-09-10 13:00:00
1         2021-09-10 13:00:00
2         2021-09-10 17:00:00
3         2021-09-10 17:00:00
4         2021-09-10 17:00:00
                 ...
507026                    NaN
507027                    NaN
507028                    NaN
507029                    NaN
507030                    NaN
Name: check_datetime, Length: 134633, dtype: object

In [32]:
df.head(1)

,check_datetime,측정일자,구역명,farm_code,내부온도,내부습도,내부CO2,근권온도,내부순간일사량,측정년도,...,bbox_image_path,before_img_name,before_img_id,mask_num,mask_id,point_x,point_y,size,color,output_image_path
0,2021-09-10 13:00:00,2021-09-10,1구역,F0016,27.52,72.22,467.9,22.51,223.17,2021.0,...,/opt/dlami/nvme/SAM_result/F0016/C101/F0016-C1...,F0016-C101-20210910-075908,283f919417b3c53b4089683ba1cf7ca2,F0016-C101-20210910-125907_0,065e7a9bdd5065fe01976ff3f4f49f03,1132.451172,554.744629,535.0,"[[121, 123, 112], [123, 125, 114], [118, 120, ...",image_mask_0.png

In [36]:
# input_image_name에서 날짜 추출 함수 정의
def extract_date(image_name):
    date_str = image_name.split('-')[2]  # '-'를 기준으로 나누고 세 번째 요소 추출
    time_str = image_name.split('-')[3]  # '-'를 기준으로 나누고 세 번째 요소 추출
    return f"{date_str[:4]}-{date_str[4:6]}-{date_str[6:8]} {time_str[:2]}:{time_str[2:4]}:{time_str[4:6]}"

# 측정일자가 NaN인 행에 대해 작업 수행
nan_indices = df[df['check_datetime'].isna()].index
for idx in nan_indices:
    image_name = df.at[idx, 'input_image_name']
    date = extract_date(image_name)
    df.at[idx, 'check_datetime'] = pd.to_datetime(f"{date}")  # 문자열 형태로 저장

In [38]:
df['check_datetime'] = df['check_datetime'].astype(str)

print(df)

             check_datetime        측정일자  구역명 farm_code   내부온도   내부습도  내부CO2  \
0       2021-09-10 13:00:00  2021-09-10  1구역     F0016  27.52  72.22  467.9
1       2021-09-10 13:00:00  2021-09-10  1구역     F0016  27.52  72.22  467.9
2       2021-09-10 17:00:00  2021-09-10  1구역     F0016  27.02  71.23  463.1
3       2021-09-10 17:00:00  2021-09-10  1구역     F0016  27.02  71.23  463.1
4       2021-09-10 17:00:00  2021-09-10  1구역     F0016  27.02  71.23  463.1
...                     ...         ...  ...       ...    ...    ...    ...
507026  2024-04-03 08:43:05  2024-04-03  1구역     F0017    NaN    NaN    NaN
507027  2024-04-03 08:43:05  2024-04-03  1구역     F0017    NaN    NaN    NaN
507028  2024-04-03 08:43:05  2024-04-03  1구역     F0017    NaN    NaN    NaN
507029  2024-04-03 08:43:05  2024-04-03  1구역     F0017    NaN    NaN    NaN
507030  2024-04-03 08:43:05  2024-04-03  1구역     F0017    NaN    NaN    NaN

         근권온도  내부순간일사량    측정년도  ...  \
0       22.51   223.17  2021.0  ...
1       22.51   223.17  2021.0  ...
2       23.77   102.75  2021.0  ...
3       23.77   102.75  2021.0  ...
4       23.77   102.75  2021.0  ...
...       ...      ...     ...  ...
507026    NaN      NaN  2024.0  ...
507027    NaN      NaN  2024.0  ...
507028    NaN      NaN  2024.0  ...
507029    NaN      NaN  2024.0  ...
507030    NaN      NaN  2024.0  ...

                                          bbox_image_path  \
0       /opt/dlami/nvme/SAM_result/F0016/C101/F0016-C1...
1       /opt/dlami/nvme/SAM_result/F0016/C101/F0016-C1...
2       /opt/dlami/nvme/SAM_result/F0016/C101/F0016-C1...
3       /opt/dlami/nvme/SAM_result/F0016/C101/F0016-C1...
4       /opt/dlami/nvme/SAM_result/F0016/C101/F0016-C1...
...                                                   ...
507026  /opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...
507027  /opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...
507028  /opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...
507029  /opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...
507030  /opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...

                   before_img_name                     before_img_id  \
0       F0016-C101-20210910-075908  283f919417b3c53b4089683ba1cf7ca2
1       F0016-C101-20210910-075908  283f919417b3c53b4089683ba1cf7ca2
2       F0016-C101-20210910-125907  d45f2f28bf7fb63dda831452e8442386
3       F0016-C101-20210910-125907  d45f2f28bf7fb63dda831452e8442386
4       F0016-C101-20210910-125907  d45f2f28bf7fb63dda831452e8442386
...                            ...                               ...
507026  F0017-C101-20240402-164303  ba95ddd91989d89d1364ae7c7b32d2e2
507027  F0017-C101-20240402-164303  ba95ddd91989d89d1364ae7c7b32d2e2
507028  F0017-C101-20240402-164303  ba95ddd91989d89d1364ae7c7b32d2e2
507029  F0017-C101-20240402-164303  ba95ddd91989d89d1364ae7c7b32d2e2
507030  F0017-C101-20240402-164303  ba95ddd91989d89d1364ae7c7b32d2e2

                             mask_num                           mask_id  \
0        F0016-C101-20210910-125907_0  065e7a9bdd5065fe01976ff3f4f49f03
1        F0016-C101-20210910-125907_1  c8f4ef001e5f686be96b1cb1bb68f68d
2        F0016-C101-20210910-165907_0  065e7a9bdd5065fe01976ff3f4f49f03
3        F0016-C101-20210910-165907_1  3cf79ada342fb0b16364c9ea6d703f9f
4        F0016-C101-20210910-165907_2  fd48e0393a4d25876b5fb82e9571361e
...                               ...                               ...
507026  F0017-C101-20240403-084305_32  d9f02da95f8e037bf0c7e8d7889b9b73
507027  F0017-C101-20240403-084305_33  82e6f24564dc5c31feb126d306889617
507028  F0017-C101-20240403-084305_34  82e6f24564dc5c31feb126d306889617
507029  F0017-C101-20240403-084305_35  55819b451a7bd041c7727d3e27b30608
507030  F0017-C101-20240403-084305_36  76366579ea8063fa5e450b20b01b7ccf

            point_x     point_y     size  \
0       1132.451172  554.744629    535.0
1        880.826233  100.000298  37040.0
2       1136.085205  556.137573    576.0
3        771.131104  102.249115  20098.0
4        902.543579  109.905945  22199.0
...             ...         ...      ...
507026   696.770691  919.146118    638.0
507027   805.770020  907.664185    712.0
507028   808.861450  912.967590   2256.0
507029  1346.452881  749.191772   3529.0
507030  1312.344727  908.888794    958.0

                                                    color  output_image_path
0       [[121, 123, 112], [123, 125, 114], [118, 120, ...   image_mask_0.png
1       [[54, 63, 44], [88, 97, 76], [82, 91, 70], [85...   image_mask_1.png
2       [[70, 71, 65], [68, 69, 63], [63, 64, 58], [49...   image_mask_0.png
3       [[22, 24, 10], [27, 30, 11], [42, 45, 24], [35...   image_mask_1.png
4       [[97, 93, 92], [80, 79, 77], [85, 84, 80], [83...   image_mask_2.png
...                                                   ...                ...
507026  [[130, 147, 137], [85, 102, 92], [57, 74, 64],...  image_mask_32.png
507027  [[126, 151, 121], [113, 138, 108], [83, 108, 7...  image_mask_33.png
507028  [[133, 154, 145], [120, 145, 115], [126, 151, ...  image_mask_34.png
507029  [[147, 162, 119], [138, 153, 110], [135, 150, ...  image_mask_35.png
507030  [[76, 78, 64], [76, 78, 64], [72, 74, 60], [67...  image_mask_36.png

[134633 rows x 27 columns]

In [39]:
df['측정년도'] = df['측정년도'].astype('Int64')
df['측정월'] = df['측정월'].astype('Int64')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134633 entries, 0 to 507030
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   check_datetime     134633 non-null  object
 1   측정일자               134633 non-null  object
 2   구역명                134633 non-null  object
 3   farm_code          134633 non-null  object
 4   내부온도               132887 non-null  float64
 5   내부습도               132887 non-null  float64
 6   내부CO2              132887 non-null  float64
 7   근권온도               132887 non-null  float64
 8   내부순간일사량            132887 non-null  float64
 9   측정년도               134633 non-null  Int64
 10  측정월                134633 non-null  Int64
 11  input_image_name   134633 non-null  object
 12  input_image_path   134633 non-null  object
 13  img_id             134633 non-null  object
 14  area_code          134633 non-null  object
 15  shot_datetime      134633 non-null  object
 16  count_masks        134633 non-null  float64
 17  bbox_image_path    134633 non-null  object
 18  before_img_name    134633 non-null  object
 19  before_img_id      134633 non-null  object
 20  mask_num           134330 non-null  object
 21  mask_id            134330 non-null  object
 22  point_x            134330 non-null  float64
 23  point_y            134330 non-null  float64
 24  size               134330 non-null  float64
 25  color              134328 non-null  object
 26  output_image_path  134330 non-null  object
dtypes: Int64(2), float64(9), object(16)
memory usage: 33.0+ MB

In [42]:
# CSV 파일로 내보내기
output_path = "/home/ubuntu/drive/EDA/real_real_final.csv"
df.to_csv(output_path, encoding='utf-8', index=False)

In [43]:
df

,check_datetime,측정일자,구역명,farm_code,내부온도,내부습도,내부CO2,근권온도,내부순간일사량,측정년도,...,bbox_image_path,before_img_name,before_img_id,mask_num,mask_id,point_x,point_y,size,color,output_image_path
0,2021-09-10 13:00:00,2021-09-10,1구역,F0016,27.52,72.22,467.9,22.51,223.17,2021,...,/opt/dlami/nvme/SAM_result/F0016/C101/F0016-C1...,F0016-C101-20210910-075908,283f919417b3c53b4089683ba1cf7ca2,F0016-C101-20210910-125907_0,065e7a9bdd5065fe01976ff3f4f49f03,1132.451172,554.744629,535.0,"[[121, 123, 112], [123, 125, 114], [118, 120, ...",image_mask_0.png
1,2021-09-10 13:00:00,2021-09-10,1구역,F0016,27.52,72.22,467.9,22.51,223.17,2021,...,/opt/dlami/nvme/SAM_result/F0016/C101/F0016-C1...,F0016-C101-20210910-075908,283f919417b3c53b4089683ba1cf7ca2,F0016-C101-20210910-125907_1,c8f4ef001e5f686be96b1cb1bb68f68d,880.826233,100.000298,37040.0,"[[54, 63, 44], [88, 97, 76], [82, 91, 70], [85...",image_mask_1.png
2,2021-09-10 17:00:00,2021-09-10,1구역,F0016,27.02,71.23,463.1,23.77,102.75,2021,...,/opt/dlami/nvme/SAM_result/F0016/C101/F0016-C1...,F0016-C101-20210910-125907,d45f2f28bf7fb63dda831452e8442386,F0016-C101-20210910-165907_0,065e7a9bdd5065fe01976ff3f4f49f03,1136.085205,556.137573,576.0,"[[70, 71, 65], [68, 69, 63], [63, 64, 58], [49...",image_mask_0.png
3,2021-09-10 17:00:00,2021-09-10,1구역,F0016,27.02,71.23,463.1,23.77,102.75,2021,...,/opt/dlami/nvme/SAM_result/F0016/C101/F0016-C1...,F0016-C101-20210910-125907,d45f2f28bf7fb63dda831452e8442386,F0016-C101-20210910-165907_1,3cf79ada342fb0b16364c9ea6d703f9f,771.131104,102.249115,20098.0,"[[22, 24, 10], [27, 30, 11], [42, 45, 24], [35...",image_mask_1.png
4,2021-09-10 17:00:00,2021-09-10,1구역,F0016,27.02,71.23,463.1,23.77,102.75,2021,...,/opt/dlami/nvme/SAM_result/F0016/C101/F0016-C1...,F0016-C101-20210910-125907,d45f2f28bf7fb63dda831452e8442386,F0016-C101-20210910-165907_2,fd48e0393a4d25876b5fb82e9571361e,902.543579,109.905945,22199.0,"[[97, 93, 92], [80, 79, 77], [85, 84, 80], [83...",image_mask_2.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507026,2024-04-03 08:43:05,2024-04-03,1구역,F0017,NaN,NaN,NaN,NaN,NaN,2024,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20240402-164303,ba95ddd91989d89d1364ae7c7b32d2e2,F0017-C101-20240403-084305_32,d9f02da95f8e037bf0c7e8d7889b9b73,696.770691,919.146118,638.0,"[[130, 147, 137], [85, 102, 92], [57, 74, 64],...",image_mask_32.png
507027,2024-04-03 08:43:05,2024-04-03,1구역,F0017,NaN,NaN,NaN,NaN,NaN,2024,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20240402-164303,ba95ddd91989d89d1364ae7c7b32d2e2,F0017-C101-20240403-084305_33,82e6f24564dc5c31feb126d306889617,805.770020,907.664185,712.0,"[[126, 151, 121], [113, 138, 108], [83, 108, 7...",image_mask_33.png
507028,2024-04-03 08:43:05,2024-04-03,1구역,F0017,NaN,NaN,NaN,NaN,NaN,2024,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20240402-164303,ba95ddd91989d89d1364ae7c7b32d2e2,F0017-C101-20240403-084305_34,82e6f24564dc5c31feb126d306889617,808.861450,912.967590,2256.0,"[[133, 154, 145], [120, 145, 115], [126, 151, ...",image_mask_34.png
507029,2024-04-03 08:43:05,2024-04-03,1구역,F0017,NaN,NaN,NaN,NaN,NaN,2024,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20240402-164303,ba95ddd91989d89d1364ae7c7b32d2e2,F0017-C101-20240403-084305_35,55819b451a7bd041c7727d3e27b30608,1346.452881,749.191772,3529.0,"[[147, 162, 119], [138, 153, 110], [135, 150, ...",image_mask_35.png
507030,2024-04-03 08:43:05,2024-04-03,1구역,F0017,NaN,NaN,NaN,NaN,NaN,2024,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20240402-164303,ba95ddd91989d89d1364ae7c7b32d2e2,F0017-C101-20240403-084305_36,76366579ea8063fa5e450b20b01b7ccf,1312.344727,908.888794,958.0,"[[76, 78, 64], [76, 78, 64], [72, 74, 60], [67...",image_mask_36.png

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134633 entries, 0 to 134632
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   check_datetime     134633 non-null  object
 1   측정일자               134633 non-null  object
 2   구역명                134633 non-null  object
 3   farm_code          134633 non-null  object
 4   내부온도               132887 non-null  float64
 5   내부습도               132887 non-null  float64
 6   내부CO2              132887 non-null  float64
 7   근권온도               132887 non-null  float64
 8   내부순간일사량            132887 non-null  float64
 9   측정년도               134633 non-null  int64
 10  측정월                134633 non-null  int64
 11  input_image_name   134633 non-null  object
 12  input_image_path   134633 non-null  object
 13  img_id             134633 non-null  object
 14  area_code          134633 non-null  object
 15  shot_datetime      134633 non-null  object
 16  count_masks        134633 non-null  float64
 17  bbox_image_path    134633 non-null  object
 18  before_img_name    134633 non-null  object
 19  before_img_id      134633 non-null  object
 20  mask_num           134330 non-null  object
 21  mask_id            134330 non-null  object
 22  point_x            134330 non-null  float64
 23  point_y            134330 non-null  float64
 24  size               134330 non-null  float64
 25  color              134328 non-null  object
 26  output_image_path  134330 non-null  object
dtypes: float64(9), int64(2), object(16)
memory usage: 27.7+ MB