In [73]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import cv2

### 데이터 copy

In [74]:
data = pd.read_csv("/home/ubuntu/drive/EDA/real_real_real_final.csv", encoding="UTF-8")
cdata = data.copy()

In [76]:
cdata.head(2)

,check_datetime,측정일자,구역명,farm_code,내부온도,내부습도,내부CO2,근권온도,내부순간일사량,측정년도,...,bbox_image_path,before_img_name,before_img_id,mask_num,mask_id,point_x,point_y,size,color,output_image_path
0,2021-09-10 13:00:00,2021-09-10,1구역,F0016,27.52,72.22,467.9,22.51,223.17,2021,...,/opt/dlami/nvme/SAM_result/F0016/C101/F0016-C1...,F0016-C101-20210910-075908,283f919417b3c53b4089683ba1cf7ca2,F0016-C101-20210910-125907_1,065e7a9bdd5065fe01976ff3f4f49f03,1132.451172,554.744629,535.0,"[[121, 123, 112], [123, 125, 114], [118, 120, ...",image_mask_1.png
1,2021-09-10 13:00:00,2021-09-10,1구역,F0016,27.52,72.22,467.9,22.51,223.17,2021,...,/opt/dlami/nvme/SAM_result/F0016/C101/F0016-C1...,F0016-C101-20210910-075908,283f919417b3c53b4089683ba1cf7ca2,F0016-C101-20210910-125907_2,c8f4ef001e5f686be96b1cb1bb68f68d,880.826233,100.000298,37040.0,"[[54, 63, 44], [88, 97, 76], [82, 91, 70], [85...",image_mask_2.png

In [77]:
cdata.columns

Index(['check_datetime', '측정일자', '구역명', 'farm_code', '내부온도', '내부습도', '내부CO2',
       '근권온도', '내부순간일사량', '측정년도', '측정월', 'input_image_name',
       'input_image_path', 'img_id', 'area_code', 'shot_datetime',
       'count_masks', 'bbox_image_path', 'before_img_name', 'before_img_id',
       'mask_num', 'mask_id', 'point_x', 'point_y', 'size', 'color',
       'output_image_path'],
      dtype='object')

In [78]:
cdata['mask_id'].unique()

array(['065e7a9bdd5065fe01976ff3f4f49f03',
       'c8f4ef001e5f686be96b1cb1bb68f68d',
       '3cf79ada342fb0b16364c9ea6d703f9f', ...,
       '92f2333ec891b9630831727d6e34e55d',
       '4b4906113dcf0ea8f5a31467dbb90ae7',
       '05f8cdc2ea6b2690060cb7cd715c096f'], dtype=object)

In [82]:
import random

# 랜덤하게 mask_id 선택
random_mask_id = random.choice(cdata['mask_id'].unique())

# 선택된 mask_id에 해당하는 데이터 추출
mask_data = cdata[cdata['mask_id'] == random_mask_id]

# mask_id와 check_datetime을 오름차순으로 정렬하여 출력
print("Randomly selected mask_id:", random_mask_id)
print("Check_datetime associated with the selected mask_id (sorted in ascending order):")
print(mask_data[['mask_id', 'check_datetime']].sort_values(by='check_datetime'))

Randomly selected mask_id: 411b1b657c9f36393fb009e71858cce9
Check_datetime associated with the selected mask_id (sorted in ascending order):
                                 mask_id       check_datetime
132956  411b1b657c9f36393fb009e71858cce9  2024-03-23 08:40:00
133045  411b1b657c9f36393fb009e71858cce9  2024-03-23 12:40:00
133147  411b1b657c9f36393fb009e71858cce9  2024-03-23 16:40:00
133233  411b1b657c9f36393fb009e71858cce9  2024-03-24 08:40:00
133317  411b1b657c9f36393fb009e71858cce9  2024-03-24 12:40:00
133431  411b1b657c9f36393fb009e71858cce9  2024-03-25 08:40:00
133516  411b1b657c9f36393fb009e71858cce9  2024-03-25 12:40:00

In [83]:
cdata.isnull().sum()

check_datetime          0
측정일자                    0
구역명                     0
farm_code               0
내부온도                 1746
내부습도                 1746
내부CO2                1746
근권온도                 1746
내부순간일사량              1746
측정년도                    0
측정월                     0
input_image_name        0
input_image_path        0
img_id                  0
area_code               0
shot_datetime           0
count_masks             0
bbox_image_path         0
before_img_name         0
before_img_id           0
mask_num              303
mask_id               303
point_x               303
point_y               303
size                  303
color                 305
output_image_path     303
dtype: int64

### test1

In [84]:
columns_to_check = ['mask_num', 'mask_id', 'point_x', 'point_y', 'size', 'color', 'output_image_path']
cdata1 = cdata.dropna(subset=columns_to_check)

cdata1.isnull().sum()

check_datetime          0
측정일자                    0
구역명                     0
farm_code               0
내부온도                 1745
내부습도                 1745
내부CO2                1745
근권온도                 1745
내부순간일사량              1745
측정년도                    0
측정월                     0
input_image_name        0
input_image_path        0
img_id                  0
area_code               0
shot_datetime           0
count_masks             0
bbox_image_path         0
before_img_name         0
before_img_id           0
mask_num                0
mask_id                 0
point_x                 0
point_y                 0
size                    0
color                   0
output_image_path       0
dtype: int64

In [61]:
import random

# 랜덤하게 mask_id 선택
random_mask_id = random.choice(cdata1['mask_id'].unique())

# 선택된 mask_id에 해당하는 데이터 추출
mask_data = cdata1[cdata1['mask_id'] == random_mask_id]

# mask_id와 check_datetime을 오름차순으로 정렬하여 출력
print("Randomly selected mask_id:", random_mask_id)
print("Check_datetime associated with the selected mask_id (sorted in ascending order):")
print(mask_data[['mask_id', 'check_datetime']].sort_values(by='check_datetime'))

Randomly selected mask_id: 29c022f7d24fa28921a44b9b91af861b
Check_datetime associated with the selected mask_id (sorted in ascending order):
                                 mask_id       check_datetime
13649   29c022f7d24fa28921a44b9b91af861b  2022-03-04 12:40:00
13720   29c022f7d24fa28921a44b9b91af861b  2022-03-04 16:30:00
13792   29c022f7d24fa28921a44b9b91af861b  2022-03-05 08:50:00
13888   29c022f7d24fa28921a44b9b91af861b  2022-03-05 12:30:00
13970   29c022f7d24fa28921a44b9b91af861b  2022-03-05 16:40:00
14028   29c022f7d24fa28921a44b9b91af861b  2022-03-06 08:30:00
14121   29c022f7d24fa28921a44b9b91af861b  2022-03-06 12:30:00
14211   29c022f7d24fa28921a44b9b91af861b  2022-03-06 16:50:00
14302   29c022f7d24fa28921a44b9b91af861b  2022-03-07 08:30:00
14395   29c022f7d24fa28921a44b9b91af861b  2022-03-07 12:30:00
14467   29c022f7d24fa28921a44b9b91af861b  2022-03-07 16:30:00
24073   29c022f7d24fa28921a44b9b91af861b  2022-05-28 08:30:00
24106   29c022f7d24fa28921a44b9b91af861b  2022-05-28 12:30:00
24132   29c022f7d24fa28921a44b9b91af861b  2022-05-28 16:30:00
24163   29c022f7d24fa28921a44b9b91af861b  2022-05-29 08:30:00
98417   29c022f7d24fa28921a44b9b91af861b  2023-02-16 08:30:00
99089   29c022f7d24fa28921a44b9b91af861b  2023-02-19 12:30:00
99141   29c022f7d24fa28921a44b9b91af861b  2023-02-19 16:30:00
99161   29c022f7d24fa28921a44b9b91af861b  2023-02-19 16:30:00
99635   29c022f7d24fa28921a44b9b91af861b  2023-02-22 08:30:00
99700   29c022f7d24fa28921a44b9b91af861b  2023-02-22 12:30:00
99767   29c022f7d24fa28921a44b9b91af861b  2023-02-22 16:30:00
99822   29c022f7d24fa28921a44b9b91af861b  2023-02-23 08:30:00
101127  29c022f7d24fa28921a44b9b91af861b  2023-03-02 12:30:00
101191  29c022f7d24fa28921a44b9b91af861b  2023-03-02 16:30:00
101267  29c022f7d24fa28921a44b9b91af861b  2023-03-03 08:30:00
101345  29c022f7d24fa28921a44b9b91af861b  2023-03-03 12:30:00
101420  29c022f7d24fa28921a44b9b91af861b  2023-03-03 16:30:00
101629  29c022f7d24fa28921a44b9b91af861b  2023-03-04 16:30:00
101701  29c022f7d24fa28921a44b9b91af861b  2023-03-05 08:30:00
101831  29c022f7d24fa28921a44b9b91af861b  2023-03-05 16:30:00
102043  29c022f7d24fa28921a44b9b91af861b  2023-03-06 16:30:00
105773  29c022f7d24fa28921a44b9b91af861b  2023-03-26 16:40:00
105877  29c022f7d24fa28921a44b9b91af861b  2023-03-27 16:40:00
106029  29c022f7d24fa28921a44b9b91af861b  2023-03-28 16:40:00
111629  29c022f7d24fa28921a44b9b91af861b  2023-04-25 08:40:00
111700  29c022f7d24fa28921a44b9b91af861b  2023-04-25 12:40:00
111752  29c022f7d24fa28921a44b9b91af861b  2023-04-25 16:40:00
111816  29c022f7d24fa28921a44b9b91af861b  2023-04-26 08:40:00
111870  29c022f7d24fa28921a44b9b91af861b  2023-04-26 12:40:00
111928  29c022f7d24fa28921a44b9b91af861b  2023-04-26 16:40:00
111975  29c022f7d24fa28921a44b9b91af861b  2023-04-27 08:40:00
112043  29c022f7d24fa28921a44b9b91af861b  2023-04-27 12:40:00
112219  29c022f7d24fa28921a44b9b91af861b  2023-05-02 08:40:00
112265  29c022f7d24fa28921a44b9b91af861b  2023-05-02 12:40:00
112321  29c022f7d24fa28921a44b9b91af861b  2023-05-02 16:40:00
124943  29c022f7d24fa28921a44b9b91af861b  2024-02-04 12:50:00

In [65]:
import pandas as pd

# NaN값이 있는 행을 삭제하고 새로운 mask_id 할당
def assign_new_mask_id(data, max_days_gap=2):
    # 데이터프레임을 'check_datetime'으로 정렬
    data = data.sort_values(by='check_datetime')
    
    # 'check_datetime' 열을 datetime 유형으로 변환
    data['check_datetime'] = pd.to_datetime(data['check_datetime'])
    
    # 'check_datetime' 간의 날짜 차이 계산
    data['date_diff'] = data['check_datetime'].diff().dt.days
    
    # NaN 값을 0으로 대체
    data['date_diff'] = data['date_diff'].fillna(0)
    
    # 연속된 날짜를 기준으로 그룹을 형성하여 각 그룹별로 동일한 새로운 mask_id 할당
    data['group'] = (data['date_diff'] > max_days_gap).cumsum()
    data['new_mask_id'] = data['mask_id'] + '_' + data['group'].astype(str)
    
    # 결과에 필요 없는 열 삭제
    data.drop(['date_diff', 'group'], axis=1, inplace=True)
    
    return data

# 랜덤하게 mask_id 선택
random_mask_id = '16d4dc41cd4d5acf770d5cab1c44a6e0'

# 선택된 mask_id에 해당하는 데이터 추출
mask_data = cdata1[cdata1['mask_id'] == random_mask_id]

# mask_id와 check_datetime을 오름차순으로 정렬하고 새로운 mask_id 할당
sorted_mask_data = assign_new_mask_id(mask_data)

# 결과 출력
print("Randomly selected mask_id:", random_mask_id)
print("Check_datetime associated with the selected mask_id (with new mask_id assigned):")
print(sorted_mask_data[['new_mask_id', 'check_datetime']])

Randomly selected mask_id: 16d4dc41cd4d5acf770d5cab1c44a6e0
Check_datetime associated with the selected mask_id (with new mask_id assigned):
                               new_mask_id      check_datetime
121153  16d4dc41cd4d5acf770d5cab1c44a6e0_0 2024-01-10 16:40:00
121262  16d4dc41cd4d5acf770d5cab1c44a6e0_0 2024-01-11 12:40:00
126185  16d4dc41cd4d5acf770d5cab1c44a6e0_1 2024-02-12 16:40:00
127336  16d4dc41cd4d5acf770d5cab1c44a6e0_2 2024-02-21 12:50:00
127740  16d4dc41cd4d5acf770d5cab1c44a6e0_2 2024-02-23 08:40:00
127896  16d4dc41cd4d5acf770d5cab1c44a6e0_2 2024-02-23 16:40:00
127970  16d4dc41cd4d5acf770d5cab1c44a6e0_2 2024-02-24 08:40:00
128028  16d4dc41cd4d5acf770d5cab1c44a6e0_2 2024-02-24 12:40:00
128122  16d4dc41cd4d5acf770d5cab1c44a6e0_2 2024-02-24 16:40:00

In [67]:
# 모든 출력 결과를 풀로 출력하는 옵션 설정
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [68]:
import pandas as pd

# NaN값이 있는 행을 삭제하고 새로운 mask_id 할당
def assign_new_mask_id(data, max_days_gap=2):
    # 데이터프레임을 'check_datetime'으로 정렬
    data = data.sort_values(by='check_datetime')
    
    # 'check_datetime' 열을 datetime 유형으로 변환
    data['check_datetime'] = pd.to_datetime(data['check_datetime'])
    
    # 'check_datetime' 간의 날짜 차이 계산
    data['date_diff'] = data['check_datetime'].diff().dt.days
    
    # NaN 값을 0으로 대체
    data['date_diff'] = data['date_diff'].fillna(0)
    
    # 연속된 날짜를 기준으로 그룹을 형성하여 각 그룹별로 동일한 새로운 mask_id 할당
    data['group'] = (data['date_diff'] > max_days_gap).cumsum()
    data['new_mask_id'] = data['mask_id'] + '_' + data['group'].astype(str)
    
    # 결과에 필요 없는 열 삭제
    data.drop(['date_diff', 'group'], axis=1, inplace=True)
    
    return data

# 랜덤하게 mask_id 선택
random_mask_id = '29c022f7d24fa28921a44b9b91af861b'

# 선택된 mask_id에 해당하는 데이터 추출
mask_data = cdata1[cdata1['mask_id'] == random_mask_id]

# mask_id와 check_datetime을 오름차순으로 정렬하고 새로운 mask_id 할당
sorted_mask_data = assign_new_mask_id(mask_data)

# 결과 출력
print("Randomly selected mask_id:", random_mask_id)
print("Check_datetime associated with the selected mask_id (with new mask_id assigned):")
print(sorted_mask_data[['new_mask_id', 'check_datetime']])

Randomly selected mask_id: 29c022f7d24fa28921a44b9b91af861b
Check_datetime associated with the selected mask_id (with new mask_id assigned):
                               new_mask_id      check_datetime
13649   29c022f7d24fa28921a44b9b91af861b_0 2022-03-04 12:40:00
13720   29c022f7d24fa28921a44b9b91af861b_0 2022-03-04 16:30:00
13792   29c022f7d24fa28921a44b9b91af861b_0 2022-03-05 08:50:00
13888   29c022f7d24fa28921a44b9b91af861b_0 2022-03-05 12:30:00
13970   29c022f7d24fa28921a44b9b91af861b_0 2022-03-05 16:40:00
14028   29c022f7d24fa28921a44b9b91af861b_0 2022-03-06 08:30:00
14121   29c022f7d24fa28921a44b9b91af861b_0 2022-03-06 12:30:00
14211   29c022f7d24fa28921a44b9b91af861b_0 2022-03-06 16:50:00
14302   29c022f7d24fa28921a44b9b91af861b_0 2022-03-07 08:30:00
14395   29c022f7d24fa28921a44b9b91af861b_0 2022-03-07 12:30:00
14467   29c022f7d24fa28921a44b9b91af861b_0 2022-03-07 16:30:00
24073   29c022f7d24fa28921a44b9b91af861b_1 2022-05-28 08:30:00
24106   29c022f7d24fa28921a44b9b91af861b_1 2022-05-28 12:30:00
24132   29c022f7d24fa28921a44b9b91af861b_1 2022-05-28 16:30:00
24163   29c022f7d24fa28921a44b9b91af861b_1 2022-05-29 08:30:00
98417   29c022f7d24fa28921a44b9b91af861b_2 2023-02-16 08:30:00
99089   29c022f7d24fa28921a44b9b91af861b_3 2023-02-19 12:30:00
99141   29c022f7d24fa28921a44b9b91af861b_3 2023-02-19 16:30:00
99161   29c022f7d24fa28921a44b9b91af861b_3 2023-02-19 16:30:00
99635   29c022f7d24fa28921a44b9b91af861b_3 2023-02-22 08:30:00
99700   29c022f7d24fa28921a44b9b91af861b_3 2023-02-22 12:30:00
99767   29c022f7d24fa28921a44b9b91af861b_3 2023-02-22 16:30:00
99822   29c022f7d24fa28921a44b9b91af861b_3 2023-02-23 08:30:00
101127  29c022f7d24fa28921a44b9b91af861b_4 2023-03-02 12:30:00
101191  29c022f7d24fa28921a44b9b91af861b_4 2023-03-02 16:30:00
101267  29c022f7d24fa28921a44b9b91af861b_4 2023-03-03 08:30:00
101345  29c022f7d24fa28921a44b9b91af861b_4 2023-03-03 12:30:00
101420  29c022f7d24fa28921a44b9b91af861b_4 2023-03-03 16:30:00
101629  29c022f7d24fa28921a44b9b91af861b_4 2023-03-04 16:30:00
101701  29c022f7d24fa28921a44b9b91af861b_4 2023-03-05 08:30:00
101831  29c022f7d24fa28921a44b9b91af861b_4 2023-03-05 16:30:00
102043  29c022f7d24fa28921a44b9b91af861b_4 2023-03-06 16:30:00
105773  29c022f7d24fa28921a44b9b91af861b_5 2023-03-26 16:40:00
105877  29c022f7d24fa28921a44b9b91af861b_5 2023-03-27 16:40:00
106029  29c022f7d24fa28921a44b9b91af861b_5 2023-03-28 16:40:00
111629  29c022f7d24fa28921a44b9b91af861b_6 2023-04-25 08:40:00
111700  29c022f7d24fa28921a44b9b91af861b_6 2023-04-25 12:40:00
111752  29c022f7d24fa28921a44b9b91af861b_6 2023-04-25 16:40:00
111816  29c022f7d24fa28921a44b9b91af861b_6 2023-04-26 08:40:00
111870  29c022f7d24fa28921a44b9b91af861b_6 2023-04-26 12:40:00
111928  29c022f7d24fa28921a44b9b91af861b_6 2023-04-26 16:40:00
111975  29c022f7d24fa28921a44b9b91af861b_6 2023-04-27 08:40:00
112043  29c022f7d24fa28921a44b9b91af861b_6 2023-04-27 12:40:00
112219  29c022f7d24fa28921a44b9b91af861b_7 2023-05-02 08:40:00
112265  29c022f7d24fa28921a44b9b91af861b_7 2023-05-02 12:40:00
112321  29c022f7d24fa28921a44b9b91af861b_7 2023-05-02 16:40:00
124943  29c022f7d24fa28921a44b9b91af861b_8 2024-02-04 12:50:00

In [85]:
import pandas as pd

# NaN값이 있는 행을 삭제하고 새로운 mask_id 할당
def assign_new_mask_id(data, max_days_gap=2):
    # 데이터프레임을 'check_datetime'으로 정렬
    data = data.sort_values(by='check_datetime')
    
    # 'check_datetime' 열을 datetime 유형으로 변환
    data['check_datetime'] = pd.to_datetime(data['check_datetime'])
    
    # 'check_datetime' 간의 날짜 차이 계산
    data['date_diff'] = data.groupby('mask_id')['check_datetime'].diff().dt.days
    
    # NaN 값을 0으로 대체
    data['date_diff'] = data['date_diff'].fillna(0)
    
    # 연속된 날짜를 기준으로 그룹을 형성하여 각 그룹별로 동일한 새로운 mask_id 할당
    data['group'] = (data['date_diff'] > max_days_gap).cumsum()
    data['new_mask_id'] = data['mask_id'] + '_' + data['group'].astype(str)
    
    # 결과에 필요 없는 열 삭제
    data.drop(['date_diff', 'group'], axis=1, inplace=True)
    
    return data

# mask_id에 해당하는 데이터 추출 및 새로운 mask_id 할당
sorted_mask_data = assign_new_mask_id(cdata1)

# 결과 출력
print("Check_datetime associated with each mask_id (with new mask_id assigned):")
print(sorted_mask_data[['new_mask_id', 'check_datetime']])

Check_datetime associated with each mask_id (with new mask_id assigned):
                                   new_mask_id      check_datetime
46801       da575cd4a0e4c9670fb45fa1f7a36431_0 2021-09-06 16:50:00
46803       891f58ff697094813c91bd994c3701a4_0 2021-09-06 16:50:00
46802       8bd8516161a651f71faa6fe79e7ad838_0 2021-09-06 16:50:00
46805       0ce4123c288d2e5205d8b6cc69f5d201_0 2021-09-07 13:00:00
46808       944f6eebb413e5d51435c08633211ad5_0 2021-09-08 13:00:00
...                                        ...                 ...
134597  4a95a63965a20284b7ce53c5cf0c2a95_23381 2024-04-03 17:00:00
134598  d8972dae3b3661fdca80544741512b82_23382 2024-04-03 17:00:00
134599  52e1e7cad5e6890db5350f9e5bceab1e_23383 2024-04-03 17:00:00
134601  a778f0bf971bd81561020a9b5cab4043_23383 2024-04-03 17:00:00
134632  76366579ea8063fa5e450b20b01b7ccf_23384 2024-04-03 17:00:00

[134328 rows x 2 columns]

In [86]:
cdata['mask_id'].count()

134330

### test2

In [87]:
columns_to_check = ['mask_num', 'mask_id', 'point_x', 'point_y', 'size', 'color', 'output_image_path']
cdata2 = cdata.dropna(subset=columns_to_check)

cdata2.isnull().sum()

check_datetime          0
측정일자                    0
구역명                     0
farm_code               0
내부온도                 1745
내부습도                 1745
내부CO2                1745
근권온도                 1745
내부순간일사량              1745
측정년도                    0
측정월                     0
input_image_name        0
input_image_path        0
img_id                  0
area_code               0
shot_datetime           0
count_masks             0
bbox_image_path         0
before_img_name         0
before_img_id           0
mask_num                0
mask_id                 0
point_x                 0
point_y                 0
size                    0
color                   0
output_image_path       0
dtype: int64

In [88]:
import pandas as pd

# NaN값이 있는 행을 삭제하고 새로운 mask_id 할당
def assign_new_mask_id(data, max_days_gap=2):
    # 데이터프레임을 'check_datetime'으로 정렬
    data = data.sort_values(by='check_datetime')
    
    # 'check_datetime' 열을 datetime 유형으로 변환
    data['check_datetime'] = pd.to_datetime(data['check_datetime'])
    
    # 'check_datetime' 간의 날짜 차이 계산
    data['date_diff'] = data.groupby('mask_id')['check_datetime'].diff().dt.days
    
    # NaN 값을 0으로 대체
    data['date_diff'] = data['date_diff'].fillna(0)
    
    # 연속된 날짜를 기준으로 그룹을 형성하여 각 그룹별로 동일한 새로운 mask_id 할당
    data['group'] = (data['date_diff'] > max_days_gap).cumsum()
    data['new_mask_id'] = data['mask_id'] + '_' + data['group'].astype(str)
    
    # 결과에 필요 없는 열 삭제
    data.drop(['date_diff', 'group'], axis=1, inplace=True)
    
    return data

# mask_id에 해당하는 데이터 추출 및 새로운 mask_id 할당
sorted_mask_data = assign_new_mask_id(cdata2)

# 결과 출력
print("Check_datetime associated with each mask_id (with new mask_id assigned):")
print(sorted_mask_data[['mask_id', 'check_datetime']])

# CSV 파일로 저장
sorted_mask_data.to_csv('sorted_mask_data.csv', index=False)

Check_datetime associated with each mask_id (with new mask_id assigned):
                                 mask_id      check_datetime
46801   da575cd4a0e4c9670fb45fa1f7a36431 2021-09-06 16:50:00
46803   891f58ff697094813c91bd994c3701a4 2021-09-06 16:50:00
46802   8bd8516161a651f71faa6fe79e7ad838 2021-09-06 16:50:00
46805   0ce4123c288d2e5205d8b6cc69f5d201 2021-09-07 13:00:00
46808   944f6eebb413e5d51435c08633211ad5 2021-09-08 13:00:00
...                                  ...                 ...
134597  4a95a63965a20284b7ce53c5cf0c2a95 2024-04-03 17:00:00
134598  d8972dae3b3661fdca80544741512b82 2024-04-03 17:00:00
134599  52e1e7cad5e6890db5350f9e5bceab1e 2024-04-03 17:00:00
134601  a778f0bf971bd81561020a9b5cab4043 2024-04-03 17:00:00
134632  76366579ea8063fa5e450b20b01b7ccf 2024-04-03 17:00:00

[134328 rows x 2 columns]

In [89]:
# new_mask_id가 '_1'로 끝나는 행 필터링
mask_id_ending_with_1 = sorted_mask_data[sorted_mask_data['new_mask_id'].str.endswith('_1')]

# 결과 출력
print("Check_datetime associated with mask_id ending with '_1':")
print(mask_id_ending_with_1[['new_mask_id', 'check_datetime']])

Check_datetime associated with mask_id ending with '_1':
                              new_mask_id      check_datetime
71     00715d5ec46b3d94a8ee5e41cf21613e_1 2021-09-15 17:00:00
74     0eaf6f4bc08289e57ccc07018262256d_1 2021-09-15 17:00:00
72     065e7a9bdd5065fe01976ff3f4f49f03_1 2021-09-15 17:00:00
73     00b3079ef5d5439393cad740b4492a8c_1 2021-09-15 17:00:00
77     da88b18524a1eb6645dd63ce61f89174_1 2021-09-15 17:00:00
80     bda65622b2cbed211462fdba430fb03e_1 2021-09-16 08:00:00
78     134c98f578d41ee48031e7a91d420fcd_1 2021-09-16 08:00:00
82     7d78902ab2ef05dfe489937a97aa69c5_1 2021-09-16 08:00:00
79     9e3b28875bb33fb933df5a384d32db05_1 2021-09-16 08:00:00
46836  bf63dbfab81bc6d91780b5630fa3a5fc_1 2021-09-16 08:00:00
81     3eff761e4aef7098d7838dce2a29711e_1 2021-09-16 08:00:00
83     6ed9b8bf4e9ad1816595a00db368d752_1 2021-09-16 13:00:00
85     00715d5ec46b3d94a8ee5e41cf21613e_1 2021-09-16 13:00:00
86     576d75b0b5f0a8759c94b0e9faf2f6c4_1 2021-09-16 13:00:00
84     c266931fb5984e935ca50001181700a0_1 2021-09-16 13:00:00
88     16bf7c8d6fa620cfe821a49ec385d168_1 2021-09-16 13:00:00
90     ff36840c27c71e0d1b0297f4ced0f001_1 2021-09-16 13:00:00

In [103]:
# new_mask_id가 '_1'로 끝나는 행 필터링
mask_id_ending_with_1 = sorted_mask_data[sorted_mask_data['new_mask_id'].str.endswith('_30')]

# 결과 출력
print("Check_datetime associated with mask_id ending with '_2':")
print(mask_id_ending_with_1[['new_mask_id', 'check_datetime']])

Check_datetime associated with mask_id ending with '_2':
                               new_mask_id      check_datetime
507    134c98f578d41ee48031e7a91d420fcd_30 2021-10-03 08:00:00
46901  ed28e24cae9e75f33db42e97af0a007d_30 2021-10-03 08:00:00
46902  59edad633a282199543570d152713868_30 2021-10-03 08:00:00
511    f477efcc4b1ad12196cbc60d46b48b47_30 2021-10-03 13:00:00
512    d7eed29d66c2b46705876b8d9f87b20a_30 2021-10-03 13:00:00
513    8f112f3ae51df263c6ee15aa41d86dc6_30 2021-10-03 13:00:00
46904  9c406e25604a28b9a012ef73b75257a5_30 2021-10-03 16:50:00
514    c695c3b060f9f1430d4041a5f3ee9111_30 2021-10-03 17:00:00
515    e5b17570110d5d8514a1438b57fa4f76_30 2021-10-03 17:00:00
516    4199f4b772092bd60971273f81d5cd5b_30 2021-10-03 17:00:00
523    208f8a56fbe10f78554895b785c47d6e_30 2021-10-04 08:00:00
46905  2ddd2601607e6b7baff71c8239fa7c4e_30 2021-10-04 08:00:00

In [104]:
# new_mask_id가 '00715d5ec46b3d94a8ee5e41cf21613e_1'인 행 필터링
mask_id_00715d5ec46b3d94a8ee5e41cf21613e_1 = sorted_mask_data[sorted_mask_data['new_mask_id'] == '134c98f578d41ee48031e7a91d420fcd_30']

# 결과 출력
print("Check_datetime associated with new_mask_id '134c98f578d41ee48031e7a91d420fcd_30':")
print(mask_id_00715d5ec46b3d94a8ee5e41cf21613e_1[['new_mask_id', 'check_datetime']])

Check_datetime associated with new_mask_id '134c98f578d41ee48031e7a91d420fcd_30':
                             new_mask_id      check_datetime
507  134c98f578d41ee48031e7a91d420fcd_30 2021-10-03 08:00:00

In [173]:
import random

# 랜덤하게 mask_id 선택
random_mask_id = random.choice(sorted_mask_data['mask_id'].unique())

# 선택된 mask_id에 해당하는 데이터 추출
mask_data = sorted_mask_data[sorted_mask_data['mask_id'] == random_mask_id]

# mask_id와 check_datetime을 오름차순으로 정렬하여 출력
print("Randomly selected mask_id:", random_mask_id)
print("Check_datetime associated with the selected mask_id (sorted in ascending order):")
print(mask_data[['mask_id', 'check_datetime']].sort_values(by='check_datetime'))

Randomly selected mask_id: 6d998a2f15883e997efbf36da67e30d8
Check_datetime associated with the selected mask_id (sorted in ascending order):
                                 mask_id      check_datetime
47440   6d998a2f15883e997efbf36da67e30d8 2021-11-24 08:00:00
49059   6d998a2f15883e997efbf36da67e30d8 2021-12-12 12:30:00
49100   6d998a2f15883e997efbf36da67e30d8 2021-12-12 16:30:00
49183   6d998a2f15883e997efbf36da67e30d8 2021-12-13 12:30:00
49217   6d998a2f15883e997efbf36da67e30d8 2021-12-13 16:50:00
49370   6d998a2f15883e997efbf36da67e30d8 2021-12-14 16:30:00
53318   6d998a2f15883e997efbf36da67e30d8 2022-01-03 08:40:00
53433   6d998a2f15883e997efbf36da67e30d8 2022-01-03 12:30:00
53525   6d998a2f15883e997efbf36da67e30d8 2022-01-03 16:30:00
53613   6d998a2f15883e997efbf36da67e30d8 2022-01-04 08:50:00
53727   6d998a2f15883e997efbf36da67e30d8 2022-01-04 12:30:00
53913   6d998a2f15883e997efbf36da67e30d8 2022-01-05 08:50:00
54018   6d998a2f15883e997efbf36da67e30d8 2022-01-05 12:50:00
54122   6d998a2f15883e997efbf36da67e30d8 2022-01-06 08:40:00
54225   6d998a2f15883e997efbf36da67e30d8 2022-01-06 12:30:00
54325   6d998a2f15883e997efbf36da67e30d8 2022-01-06 16:50:00
54421   6d998a2f15883e997efbf36da67e30d8 2022-01-07 08:30:00
54716   6d998a2f15883e997efbf36da67e30d8 2022-01-08 08:30:00
55015   6d998a2f15883e997efbf36da67e30d8 2022-01-09 08:30:00
64625   6d998a2f15883e997efbf36da67e30d8 2022-02-17 12:40:00
64701   6d998a2f15883e997efbf36da67e30d8 2022-02-17 16:40:00
64782   6d998a2f15883e997efbf36da67e30d8 2022-02-18 08:30:00
98401   6d998a2f15883e997efbf36da67e30d8 2023-02-16 08:30:00
98567   6d998a2f15883e997efbf36da67e30d8 2023-02-16 16:30:00
98883   6d998a2f15883e997efbf36da67e30d8 2023-02-18 12:30:00
98954   6d998a2f15883e997efbf36da67e30d8 2023-02-18 16:30:00
99265   6d998a2f15883e997efbf36da67e30d8 2023-02-20 12:30:00
99341   6d998a2f15883e997efbf36da67e30d8 2023-02-20 16:30:00
99413   6d998a2f15883e997efbf36da67e30d8 2023-02-21 08:30:00
99986   6d998a2f15883e997efbf36da67e30d8 2023-02-24 08:30:00
100046  6d998a2f15883e997efbf36da67e30d8 2023-02-24 12:30:00
100087  6d998a2f15883e997efbf36da67e30d8 2023-02-24 16:30:00
100147  6d998a2f15883e997efbf36da67e30d8 2023-02-25 08:30:00
100882  6d998a2f15883e997efbf36da67e30d8 2023-03-01 12:30:00
100971  6d998a2f15883e997efbf36da67e30d8 2023-03-01 16:30:00

In [152]:
sorted_mask_data['mask_id'].unique

<bound method Series.unique of 46801     da575cd4a0e4c9670fb45fa1f7a36431
46803     891f58ff697094813c91bd994c3701a4
46802     8bd8516161a651f71faa6fe79e7ad838
46805     0ce4123c288d2e5205d8b6cc69f5d201
46808     944f6eebb413e5d51435c08633211ad5
                        ...
134597    4a95a63965a20284b7ce53c5cf0c2a95
134598    d8972dae3b3661fdca80544741512b82
134599    52e1e7cad5e6890db5350f9e5bceab1e
134601    a778f0bf971bd81561020a9b5cab4043
134632    76366579ea8063fa5e450b20b01b7ccf
Name: mask_id, Length: 134328, dtype: object>

### test3

In [174]:
columns_to_check = ['mask_num', 'mask_id', 'point_x', 'point_y', 'size', 'color', 'output_image_path']
cdata3 = cdata.dropna(subset=columns_to_check)

cdata3.isnull().sum()

check_datetime          0
측정일자                    0
구역명                     0
farm_code               0
내부온도                 1745
내부습도                 1745
내부CO2                1745
근권온도                 1745
내부순간일사량              1745
측정년도                    0
측정월                     0
input_image_name        0
input_image_path        0
img_id                  0
area_code               0
shot_datetime           0
count_masks             0
bbox_image_path         0
before_img_name         0
before_img_id           0
mask_num                0
mask_id                 0
point_x                 0
point_y                 0
size                    0
color                   0
output_image_path       0
dtype: int64

In [175]:
import pandas as pd

# NaN값이 있는 행을 삭제하고 새로운 mask_id 할당
def assign_new_mask_id(data, max_days_gap=2):
    # 데이터프레임을 'check_datetime'으로 정렬
    data = data.sort_values(by='check_datetime')
    
    # 'check_datetime' 열을 datetime 유형으로 변환
    data['check_datetime'] = pd.to_datetime(data['check_datetime'])
    
    # 'check_datetime' 간의 날짜 차이 계산
    data['date_diff'] = data.groupby('mask_id')['check_datetime'].diff().dt.days
    
    # NaN 값을 0으로 대체
    data['date_diff'] = data['date_diff'].fillna(0)
    
    # 'date_diff'가 max_days_gap보다 큰 경우 새로운 그룹 지정
    data['group'] = (data['date_diff'] > max_days_gap).cumsum()
    
    # mask_id에 그룹 번호 추가하여 새로운 mask_id로 지정
    data['new_mask_id'] = data['mask_id'] + '_' + data['group'].astype(str)
    
    # 결과에 필요 없는 열 삭제
    data.drop(['date_diff', 'group'], axis=1, inplace=True)
    
    return data

# mask_id에 해당하는 데이터 추출 및 새로운 mask_id 할당
sorted_mask_data = assign_new_mask_id(cdata3)

# 결과 출력
print("Check_datetime associated with each mask_id (with new mask_id assigned):")
print(sorted_mask_data[['mask_id', 'check_datetime']])

# CSV 파일로 저장
sorted_mask_data.to_csv('sorted_mask_data.csv', index=False)

Check_datetime associated with each mask_id (with new mask_id assigned):
                                 mask_id      check_datetime
46801   da575cd4a0e4c9670fb45fa1f7a36431 2021-09-06 16:50:00
46803   891f58ff697094813c91bd994c3701a4 2021-09-06 16:50:00
46802   8bd8516161a651f71faa6fe79e7ad838 2021-09-06 16:50:00
46805   0ce4123c288d2e5205d8b6cc69f5d201 2021-09-07 13:00:00
46808   944f6eebb413e5d51435c08633211ad5 2021-09-08 13:00:00
...                                  ...                 ...
134597  4a95a63965a20284b7ce53c5cf0c2a95 2024-04-03 17:00:00
134598  d8972dae3b3661fdca80544741512b82 2024-04-03 17:00:00
134599  52e1e7cad5e6890db5350f9e5bceab1e 2024-04-03 17:00:00
134601  a778f0bf971bd81561020a9b5cab4043 2024-04-03 17:00:00
134632  76366579ea8063fa5e450b20b01b7ccf 2024-04-03 17:00:00

[134328 rows x 2 columns]

In [179]:
import random

# 랜덤하게 mask_id 선택
random_mask_id = random.choice(sorted_mask_data['mask_id'].unique())

# 선택된 mask_id에 해당하는 데이터 추출
mask_data = sorted_mask_data[sorted_mask_data['mask_id'] == random_mask_id]

# mask_id와 check_datetime을 오름차순으로 정렬하여 출력
print("Randomly selected mask_id:", random_mask_id)
print("Check_datetime associated with the selected mask_id (sorted in ascending order):")
print(mask_data[['mask_id', 'check_datetime']].sort_values(by='check_datetime'))

Randomly selected mask_id: 42c9dee448d158574aafe4581f23aa70
Check_datetime associated with the selected mask_id (sorted in ascending order):
                                 mask_id      check_datetime
47468   42c9dee448d158574aafe4581f23aa70 2021-11-24 16:50:00
103680  42c9dee448d158574aafe4581f23aa70 2023-03-15 08:30:00
103731  42c9dee448d158574aafe4581f23aa70 2023-03-15 12:30:00
103784  42c9dee448d158574aafe4581f23aa70 2023-03-15 16:30:00
103837  42c9dee448d158574aafe4581f23aa70 2023-03-16 08:30:00
103901  42c9dee448d158574aafe4581f23aa70 2023-03-16 16:40:00
103957  42c9dee448d158574aafe4581f23aa70 2023-03-17 08:40:00
104013  42c9dee448d158574aafe4581f23aa70 2023-03-17 12:40:00
104077  42c9dee448d158574aafe4581f23aa70 2023-03-17 16:40:00
105809  42c9dee448d158574aafe4581f23aa70 2023-03-27 08:40:00
106504  42c9dee448d158574aafe4581f23aa70 2023-04-01 08:40:00
106665  42c9dee448d158574aafe4581f23aa70 2023-04-02 08:40:00
106787  42c9dee448d158574aafe4581f23aa70 2023-04-02 16:30:00
106932  42c9dee448d158574aafe4581f23aa70 2023-04-03 12:40:00
107060  42c9dee448d158574aafe4581f23aa70 2023-04-04 08:40:00
107128  42c9dee448d158574aafe4581f23aa70 2023-04-04 12:40:00
107199  42c9dee448d158574aafe4581f23aa70 2023-04-04 16:40:00
107258  42c9dee448d158574aafe4581f23aa70 2023-04-05 08:40:00
107326  42c9dee448d158574aafe4581f23aa70 2023-04-05 12:40:00
107400  42c9dee448d158574aafe4581f23aa70 2023-04-05 16:40:00
113080  42c9dee448d158574aafe4581f23aa70 2023-05-09 08:30:00
113111  42c9dee448d158574aafe4581f23aa70 2023-05-09 12:30:00
113118  42c9dee448d158574aafe4581f23aa70 2023-05-09 12:30:00
113140  42c9dee448d158574aafe4581f23aa70 2023-05-09 16:40:00
113146  42c9dee448d158574aafe4581f23aa70 2023-05-09 16:40:00
113165  42c9dee448d158574aafe4581f23aa70 2023-05-10 08:40:00
113256  42c9dee448d158574aafe4581f23aa70 2023-05-10 16:30:00
115041  42c9dee448d158574aafe4581f23aa70 2023-06-09 12:40:00
115058  42c9dee448d158574aafe4581f23aa70 2023-06-09 16:40:00
115079  42c9dee448d158574aafe4581f23aa70 2023-06-10 08:40:00
115110  42c9dee448d158574aafe4581f23aa70 2023-06-10 12:40:00

### test4

In [180]:
columns_to_check = ['mask_num', 'mask_id', 'point_x', 'point_y', 'size', 'color', 'output_image_path']
cdata4 = cdata.dropna(subset=columns_to_check)

cdata4.isnull().sum()

check_datetime          0
측정일자                    0
구역명                     0
farm_code               0
내부온도                 1745
내부습도                 1745
내부CO2                1745
근권온도                 1745
내부순간일사량              1745
측정년도                    0
측정월                     0
input_image_name        0
input_image_path        0
img_id                  0
area_code               0
shot_datetime           0
count_masks             0
bbox_image_path         0
before_img_name         0
before_img_id           0
mask_num                0
mask_id                 0
point_x                 0
point_y                 0
size                    0
color                   0
output_image_path       0
dtype: int64

In [181]:
import pandas as pd

# NaN값이 있는 행을 삭제하고 새로운 mask_id 할당
def assign_new_mask_id(data, max_days_gap=2):
    # 데이터프레임을 'check_datetime'으로 정렬
    data = data.sort_values(by='check_datetime')
    
    # 'check_datetime' 열을 datetime 유형으로 변환
    data['check_datetime'] = pd.to_datetime(data['check_datetime'])
    
    # 'mask_id'와 'check_datetime'으로 그룹화하여 각 그룹의 날짜 간격 계산
    data['date_diff'] = data.groupby('mask_id')['check_datetime'].diff().dt.days
    
    # NaN 값을 0으로 대체
    data['date_diff'] = data['date_diff'].fillna(0)
    
    # 날짜 간격이 2일 이상인 경우에만 새로운 그룹을 형성하여 새로운 mask_id 할당
    data['group'] = (data['date_diff'] > max_days_gap).cumsum()
    data['new_mask_id'] = data['mask_id'] + '_' + data['group'].astype(str)
    
    # 결과에 필요 없는 열 삭제
    data.drop(['date_diff', 'group'], axis=1, inplace=True)
    
    return data

# mask_id에 해당하는 데이터 추출 및 새로운 mask_id 할당
sorted_mask_data = assign_new_mask_id(cdata4)

# 결과 출력
print("Check_datetime associated with each mask_id (with new mask_id assigned):")
print(sorted_mask_data[['mask_id', 'check_datetime']])

# CSV 파일로 저장
sorted_mask_data.to_csv('sorted_mask_data.csv', index=False)

Check_datetime associated with each mask_id (with new mask_id assigned):
                                 mask_id      check_datetime
46801   da575cd4a0e4c9670fb45fa1f7a36431 2021-09-06 16:50:00
46803   891f58ff697094813c91bd994c3701a4 2021-09-06 16:50:00
46802   8bd8516161a651f71faa6fe79e7ad838 2021-09-06 16:50:00
46805   0ce4123c288d2e5205d8b6cc69f5d201 2021-09-07 13:00:00
46808   944f6eebb413e5d51435c08633211ad5 2021-09-08 13:00:00
...                                  ...                 ...
134597  4a95a63965a20284b7ce53c5cf0c2a95 2024-04-03 17:00:00
134598  d8972dae3b3661fdca80544741512b82 2024-04-03 17:00:00
134599  52e1e7cad5e6890db5350f9e5bceab1e 2024-04-03 17:00:00
134601  a778f0bf971bd81561020a9b5cab4043 2024-04-03 17:00:00
134632  76366579ea8063fa5e450b20b01b7ccf 2024-04-03 17:00:00

[134328 rows x 2 columns]

In [232]:
import random

# 랜덤하게 mask_id 선택
random_mask_id = random.choice(sorted_mask_data['new_mask_id'].unique())

# 선택된 mask_id에 해당하는 데이터 추출
mask_data = sorted_mask_data[sorted_mask_data['new_mask_id'] == random_mask_id]

# mask_id와 check_datetime을 오름차순으로 정렬하여 출력
print("Randomly selected mask_id:", random_mask_id)
print("Check_datetime associated with the selected mask_id (sorted in ascending order):")
print(mask_data[['new_mask_id', 'check_datetime']].sort_values(by='check_datetime'))

Randomly selected mask_id: ee5dea72534ec7afe9e933ce5004a5b5_3
Check_datetime associated with the selected mask_id (sorted in ascending order):
                             new_mask_id      check_datetime
8331  ee5dea72534ec7afe9e933ce5004a5b5_3 2022-02-10 12:30:00

### test5

In [183]:
columns_to_check = ['mask_num', 'mask_id', 'point_x', 'point_y', 'size', 'color', 'output_image_path']
cdata5 = cdata.dropna(subset=columns_to_check)

In [202]:
import pandas as pd

# NaN값이 있는 행을 삭제하고 새로운 mask_id 할당
def assign_new_mask_id(data, max_days_gap=2):
    # 데이터프레임을 'check_datetime'으로 정렬
    data = data.sort_values(by='check_datetime')
    
    # 'check_datetime' 열을 datetime 유형으로 변환
    data['check_datetime'] = pd.to_datetime(data['check_datetime'])
    
    # 'mask_id'로 그룹화하여 각 그룹 내에서 날짜 간격 계산
    data['date_diff'] = data.groupby('mask_id')['check_datetime'].diff().dt.days
    
    # NaN 값을 0으로 대체
    data['date_diff'] = data['date_diff'].fillna(0)
    
    # 날짜 간격이 2일 이상인 경우에만 새로운 그룹을 형성하여 새로운 mask_id 할당
    data[['group']] = (data['date_diff'] > max_days_gap).groupby(data['mask_id']).cumsum()
    data['new_mask_id'] = data['mask_id'] + '_' + data['group'].astype(str)
    
    # 결과에 필요 없는 열 삭제
    data.drop(['date_diff', 'group'], axis=1, inplace=True)
    
    return data

# mask_id에 해당하는 데이터 추출 및 새로운 mask_id 할당
sorted_mask_data = assign_new_mask_id(cdata5)

# 결과 출력
print("Check_datetime associated with each mask_id (with new mask_id assigned):")
print(sorted_mask_data[['mask_id', 'check_datetime']])

# CSV 파일로 저장
sorted_mask_data.to_csv('sorted_mask_data.csv', index=False)

ValueError: Columns must be same length as key

In [201]:
import random

# 랜덤하게 mask_id 선택
random_mask_id = random.choice(sorted_mask_data['mask_id'].unique())

# 선택된 mask_id에 해당하는 데이터 추출
mask_data = sorted_mask_data[sorted_mask_data['mask_id'] == random_mask_id]

# mask_id와 check_datetime을 오름차순으로 정렬하여 출력
print("Randomly selected mask_id:", random_mask_id)
print("Check_datetime associated with the selected mask_id (sorted in ascending order):")
print(mask_data[['mask_id', 'check_datetime']].sort_values(by='check_datetime'))

Randomly selected mask_id: 422951d318194674459ee7e7db0c7e02
Check_datetime associated with the selected mask_id (sorted in ascending order):
                                 mask_id      check_datetime
59563   422951d318194674459ee7e7db0c7e02 2022-01-27 16:30:00
61765   422951d318194674459ee7e7db0c7e02 2022-02-06 08:30:00
62864   422951d318194674459ee7e7db0c7e02 2022-02-10 12:30:00
128236  422951d318194674459ee7e7db0c7e02 2024-02-25 12:40:00
128242  422951d318194674459ee7e7db0c7e02 2024-02-25 16:50:00
130080  422951d318194674459ee7e7db0c7e02 2024-03-09 16:40:00
131221  422951d318194674459ee7e7db0c7e02 2024-03-17 12:40:00

### test6

In [203]:
columns_to_check = ['mask_num', 'mask_id', 'point_x', 'point_y', 'size', 'color', 'output_image_path']
cdata6 = cdata.dropna(subset=columns_to_check)

In [204]:
cdata6['check_datetime'] = pd.to_datetime(cdata6['check_datetime'])

/tmp/ipykernel_3100/1964216998.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cdata6['check_datetime'] = pd.to_datetime(cdata6['check_datetime'])

In [205]:
cdata6 = cdata6.sort_values(by=['mask_id', 'check_datetime'])

In [206]:
cdata6.head()

,check_datetime,측정일자,구역명,farm_code,내부온도,내부습도,내부CO2,근권온도,내부순간일사량,측정년도,...,bbox_image_path,before_img_name,before_img_id,mask_num,mask_id,point_x,point_y,size,color,output_image_path
48930,2021-12-11 12:30:00,2021-12-11,1구역,F0017,21.10,84.80,407.3,14.90,112.85,2021,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20211211-083000,c425e659787e9e014b2ba0496f041d35,F0017-C101-20211211-123000_16,000e746a20045adde95ecafc59ac8162,266.290955,352.751709,1509.0,"[[62, 75, 45], [95, 108, 78], [87, 100, 70], [...",image_mask_16.png
55856,2022-01-12 08:30:00,2022-01-12,1구역,F0017,10.41,91.72,2812.2,12.76,14.66,2022,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20220111-163000,2980be2ae0db2be80789f937039bf8e0,F0017-C101-20220112-083000_12,000e746a20045adde95ecafc59ac8162,269.233490,346.553436,1446.0,"[[38, 54, 15], [63, 78, 39], [55, 70, 29], [47...",image_mask_12.png
56026,2022-01-12 16:50:00,2022-01-12,1구역,F0017,15.14,85.69,281.7,14.05,21.42,2022,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20220112-131700,4f3f65ca0f34a8ae8c4a9558c20ea9c0,F0017-C101-20220112-164700_12,000e746a20045adde95ecafc59ac8162,264.121307,349.344482,1183.0,"[[57, 68, 36], [57, 66, 35], [40, 49, 18], [29...",image_mask_12.png
56115,2022-01-13 08:30:00,2022-01-13,1구역,F0017,10.85,92.62,2102.2,12.69,15.23,2022,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20220112-164700,8e84ea0c3de1901a72652c41169ee34a,F0017-C101-20220113-083000_14,000e746a20045adde95ecafc59ac8162,261.293915,349.513611,1077.0,"[[39, 51, 13], [64, 74, 37], [51, 61, 24], [55...",image_mask_14.png
72098,2022-03-16 12:30:00,2022-03-16,1구역,F0017,28.13,45.38,420.7,15.76,295.86,2022,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20220316-083000,f88c6a60c83bbd6e543e01d131c0bb24,F0017-C101-20220316-123000_8,000e746a20045adde95ecafc59ac8162,262.844757,349.892456,3446.0,"[[77, 53, 29], [102, 78, 54], [123, 99, 75], [...",image_mask_8.png

In [209]:
cdata6['date_diff'] = cdata6.groupby('mask_id')['check_datetime'].diff().dt.days
cdata6['date_diff'].head()

48930     NaN
55856    31.0
56026     0.0
56115     0.0
72098    62.0
Name: date_diff, dtype: float64

In [210]:
cdata6['date_diff'] = cdata6['date_diff'].fillna(0)

In [239]:
cdata6['group'] = (cdata6['date_diff'] > 2).groupby(cdata6['mask_id']).cumsum()
cdata6['mask_id'] = cdata6['mask_id'] + '_' + cdata6['group'].astype(str)
# cdata6.drop('new_mask_id', axis=1, inplace=True)
cdata6.drop('group', axis=1, inplace=True)

KeyError: "['new_mask_id'] not found in axis"

In [237]:
import random

# 랜덤하게 mask_id 선택
random_mask_id = random.choice(cdata6['mask_id'].unique())

# 선택된 mask_id에 해당하는 데이터 추출
mask_data = sorted_mask_data[cdata6['mask_id'] == random_mask_id]

# mask_id와 check_datetime을 오름차순으로 정렬하여 출력
print("Randomly selected mask_id:", random_mask_id)
print("Check_datetime associated with the selected mask_id (sorted in ascending order):")
print(mask_data[['mask_id', 'check_datetime']].sort_values(by='check_datetime'))

Randomly selected mask_id: 46616ceeaed4c884092a0d935d4cf25d_3_1
Check_datetime associated with the selected mask_id (sorted in ascending order):
                                mask_id      check_datetime
32058  46616ceeaed4c884092a0d935d4cf25d 2023-02-25 12:40:00
32099  46616ceeaed4c884092a0d935d4cf25d 2023-02-25 16:40:00
32132  46616ceeaed4c884092a0d935d4cf25d 2023-02-26 08:30:00
32194  46616ceeaed4c884092a0d935d4cf25d 2023-02-26 12:30:00
32242  46616ceeaed4c884092a0d935d4cf25d 2023-02-26 16:30:00
32271  46616ceeaed4c884092a0d935d4cf25d 2023-02-27 08:30:00
32341  46616ceeaed4c884092a0d935d4cf25d 2023-02-27 12:30:00
32399  46616ceeaed4c884092a0d935d4cf25d 2023-02-27 16:40:00

/tmp/ipykernel_3100/275489962.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mask_data = sorted_mask_data[cdata6['mask_id'] == random_mask_id]

### test7

In [1]:
import pandas as pd
data = pd.read_csv("/home/ubuntu/drive/EDA/real_true_final.csv", encoding="UTF-8")
cdata7 = data.copy()

In [2]:
cdata7['check_datetime'] = pd.to_datetime(cdata7['check_datetime'])

In [3]:
cdata7 = cdata7.sort_values(by=['mask_id', 'check_datetime'])

In [4]:
cdata7['date_diff'] = cdata7.groupby('mask_id')['check_datetime'].diff().dt.days

In [5]:
cdata7['date_diff'] = cdata7['date_diff'].fillna(0)

In [6]:
cdata7['group'] = (cdata7['date_diff'] > 2).groupby(cdata7['mask_id']).cumsum()
cdata7['mask_id'] = cdata7['mask_id'] + '_' + cdata7['group'].astype(str)
cdata7.drop('group', axis=1, inplace=True)

In [38]:
import random

# 랜덤하게 mask_id 선택
random_mask_id = random.choice(cdata7['mask_id'].unique())

# 선택된 mask_id에 해당하는 데이터 추출
mask_data = cdata7[cdata7['mask_id'] == random_mask_id]

# mask_id와 check_datetime을 오름차순으로 정렬하여 출력
print("Randomly selected mask_id:", random_mask_id)
print("Check_datetime associated with the selected mask_id (sorted in ascending order):")
print(mask_data[['mask_id', 'check_datetime']].sort_values(by='check_datetime'))

Randomly selected mask_id: 5596c481c44e9f4d852520937bf283f8_0.0
Check_datetime associated with the selected mask_id (sorted in ascending order):
                                    mask_id      check_datetime
12182  5596c481c44e9f4d852520937bf283f8_0.0 2022-02-27 08:30:00

In [39]:
cdata7.to_csv('sorted_mask_data_final.csv', index=False)