# 생육 데이터 병합(+ 마스크 개수 추출해서 함께 병합)

In [37]:
import pandas as pd

In [38]:
# SAM 모델 돌린 결과에서 추출한 마스크별 rgb 비율 데이터
growth = pd.read_csv("../dataset/SAM_result/concat_image_rgb_info_predicted.csv")

In [39]:
growth.info()
growth.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134328 entries, 0 to 134327
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   imagedirectory  134328 non-null  object
 1   file_name       134328 non-null  object
 2   origin_r        134328 non-null  float64
 3   origin_g        134328 non-null  float64
 4   origin_b        134328 non-null  float64
 5   pred_growth     134328 non-null  object
dtypes: float64(3), object(3)
memory usage: 6.1+ MB

,imagedirectory,file_name,origin_r,origin_g,origin_b,pred_growth
0,F0016-C101-20210910-125907,image_mask_1.png,0.351564,0.406222,0.242214,unripe
1,F0016-C101-20210910-125907,image_mask_2.png,0.367803,0.445607,0.186590,unripe
2,F0016-C101-20210910-165907,image_mask_3.png,0.367177,0.417558,0.215264,unripe
3,F0016-C101-20210910-165907,image_mask_5.png,0.330916,0.336561,0.332523,unripe
4,F0016-C101-20210910-165907,image_mask_6.png,0.322733,0.347697,0.329570,unripe

In [40]:
# merge된 데이터(생육 단계 없는)
new_merged_data = "/home/ubuntu/drive/EDA/sorted_mask_data_final.csv"
# data = pd.read_csv("merged_final.csv")
data = pd.read_csv(new_merged_data)

In [41]:
data.columns

Index(['check_datetime', '측정일자', '구역명', 'farm_code', '내부온도', '내부습도', '내부CO2',
       '근권온도', '내부순간일사량', '측정년도', '측정월', 'input_image_name',
       'input_image_path', 'img_id', 'area_code', 'shot_datetime',
       'count_masks', 'bbox_image_path', 'before_img_name', 'before_img_id',
       'mask_num', 'mask_id', 'point_x', 'point_y', 'size', 'color',
       'output_image_path', 'date_diff'],
      dtype='object')

In [42]:
data.drop("date_diff",axis=1, inplace=True)

In [43]:
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134633 entries, 0 to 134632
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   check_datetime     134633 non-null  object
 1   측정일자               134633 non-null  object
 2   구역명                134633 non-null  object
 3   farm_code          134633 non-null  object
 4   내부온도               132887 non-null  float64
 5   내부습도               132887 non-null  float64
 6   내부CO2              132887 non-null  float64
 7   근권온도               132887 non-null  float64
 8   내부순간일사량            132887 non-null  float64
 9   측정년도               134633 non-null  int64
 10  측정월                134633 non-null  int64
 11  input_image_name   134633 non-null  object
 12  input_image_path   134633 non-null  object
 13  img_id             134633 non-null  object
 14  area_code          134633 non-null  object
 15  shot_datetime      134633 non-null  object
 16  count_masks        134633 non-null  float64
 17  bbox_image_path    134633 non-null  object
 18  before_img_name    134633 non-null  object
 19  before_img_id      134633 non-null  object
 20  mask_num           134330 non-null  object
 21  mask_id            134633 non-null  object
 22  point_x            134330 non-null  float64
 23  point_y            134330 non-null  float64
 24  size               134330 non-null  float64
 25  color              134328 non-null  object
 26  output_image_path  134330 non-null  object
dtypes: float64(9), int64(2), object(16)
memory usage: 27.7+ MB

,check_datetime,측정일자,구역명,farm_code,내부온도,내부습도,내부CO2,근권온도,내부순간일사량,측정년도,...,bbox_image_path,before_img_name,before_img_id,mask_num,mask_id,point_x,point_y,size,color,output_image_path
0,2021-12-11 12:30:00,2021-12-11,1구역,F0017,21.10,84.80,407.3,14.90,112.85,2021,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20211211-083000,c425e659787e9e014b2ba0496f041d35,F0017-C101-20211211-123000_17,000e746a20045adde95ecafc59ac8162_0,266.290955,352.751709,1509.0,"[[62, 75, 45], [95, 108, 78], [87, 100, 70], [...",image_mask_17.png
1,2022-01-12 08:30:00,2022-01-12,1구역,F0017,10.41,91.72,2812.2,12.76,14.66,2022,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20220111-163000,2980be2ae0db2be80789f937039bf8e0,F0017-C101-20220112-083000_13,000e746a20045adde95ecafc59ac8162_1,269.233490,346.553436,1446.0,"[[38, 54, 15], [63, 78, 39], [55, 70, 29], [47...",image_mask_13.png
2,2022-01-12 16:50:00,2022-01-12,1구역,F0017,15.14,85.69,281.7,14.05,21.42,2022,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20220112-131700,4f3f65ca0f34a8ae8c4a9558c20ea9c0,F0017-C101-20220112-164700_13,000e746a20045adde95ecafc59ac8162_1,264.121307,349.344482,1183.0,"[[57, 68, 36], [57, 66, 35], [40, 49, 18], [29...",image_mask_13.png
3,2022-01-13 08:30:00,2022-01-13,1구역,F0017,10.85,92.62,2102.2,12.69,15.23,2022,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20220112-164700,8e84ea0c3de1901a72652c41169ee34a,F0017-C101-20220113-083000_15,000e746a20045adde95ecafc59ac8162_1,261.293915,349.513611,1077.0,"[[39, 51, 13], [64, 74, 37], [51, 61, 24], [55...",image_mask_15.png
4,2022-03-16 12:30:00,2022-03-16,1구역,F0017,28.13,45.38,420.7,15.76,295.86,2022,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20220316-083000,f88c6a60c83bbd6e543e01d131c0bb24,F0017-C101-20220316-123000_9,000e746a20045adde95ecafc59ac8162_2,262.844757,349.892456,3446.0,"[[77, 53, 29], [102, 78, 54], [123, 99, 75], [...",image_mask_9.png

### 마스크 개수 추출

In [44]:
growth.head()

,imagedirectory,file_name,origin_r,origin_g,origin_b,pred_growth
0,F0016-C101-20210910-125907,image_mask_1.png,0.351564,0.406222,0.242214,unripe
1,F0016-C101-20210910-125907,image_mask_2.png,0.367803,0.445607,0.186590,unripe
2,F0016-C101-20210910-165907,image_mask_3.png,0.367177,0.417558,0.215264,unripe
3,F0016-C101-20210910-165907,image_mask_5.png,0.330916,0.336561,0.332523,unripe
4,F0016-C101-20210910-165907,image_mask_6.png,0.322733,0.347697,0.329570,unripe

In [45]:
# group by 로 일자별로 그룹 지어두고 마스크 개수 컬럼 추가
growth["mask_count"] = 0
growth["mask_count"] = growth.groupby("imagedirectory")["mask_count"].transform("count")

In [10]:
# 제대로 잘 됐는지 확인

# for i in growth["imagedirectory"].unique()[:10]:
#     for idx, row in growth[growth["imagedirectory"] == i].iterrows():
#         print(idx, i)
#         print(row["file_name"], row["mask_count"])
#     print()

In [46]:
growth.head()

,imagedirectory,file_name,origin_r,origin_g,origin_b,pred_growth,mask_count
0,F0016-C101-20210910-125907,image_mask_1.png,0.351564,0.406222,0.242214,unripe,2
1,F0016-C101-20210910-125907,image_mask_2.png,0.367803,0.445607,0.186590,unripe,2
2,F0016-C101-20210910-165907,image_mask_3.png,0.367177,0.417558,0.215264,unripe,7
3,F0016-C101-20210910-165907,image_mask_5.png,0.330916,0.336561,0.332523,unripe,7
4,F0016-C101-20210910-165907,image_mask_6.png,0.322733,0.347697,0.329570,unripe,7

In [47]:
growth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134328 entries, 0 to 134327
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   imagedirectory  134328 non-null  object
 1   file_name       134328 non-null  object
 2   origin_r        134328 non-null  float64
 3   origin_g        134328 non-null  float64
 4   origin_b        134328 non-null  float64
 5   pred_growth     134328 non-null  object
 6   mask_count      134328 non-null  int64
dtypes: float64(3), int64(1), object(3)
memory usage: 7.2+ MB

### 생육 데이터 병합

growth, mask image info 데이터
- imagedirectory : F0016-C101-20210910-125907
- file_name : image_mask_1.png


원 데이터
- (X) mask_num : 뒷번호만 떼서 쓰기 F0016-C101-20240326-164248_1 -> F0016-C101-20240326-164248
- input_image_name : F0016-C101-20210910-125907
- output_image_path: image_mask 파일명 -> image_mask_1.png

In [48]:
data

,check_datetime,측정일자,구역명,farm_code,내부온도,내부습도,내부CO2,근권온도,내부순간일사량,측정년도,...,bbox_image_path,before_img_name,before_img_id,mask_num,mask_id,point_x,point_y,size,color,output_image_path
0,2021-12-11 12:30:00,2021-12-11,1구역,F0017,21.10,84.80,407.30,14.90,112.85,2021,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20211211-083000,c425e659787e9e014b2ba0496f041d35,F0017-C101-20211211-123000_17,000e746a20045adde95ecafc59ac8162_0,266.290955,352.751709,1509.0,"[[62, 75, 45], [95, 108, 78], [87, 100, 70], [...",image_mask_17.png
1,2022-01-12 08:30:00,2022-01-12,1구역,F0017,10.41,91.72,2812.20,12.76,14.66,2022,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20220111-163000,2980be2ae0db2be80789f937039bf8e0,F0017-C101-20220112-083000_13,000e746a20045adde95ecafc59ac8162_1,269.233490,346.553436,1446.0,"[[38, 54, 15], [63, 78, 39], [55, 70, 29], [47...",image_mask_13.png
2,2022-01-12 16:50:00,2022-01-12,1구역,F0017,15.14,85.69,281.70,14.05,21.42,2022,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20220112-131700,4f3f65ca0f34a8ae8c4a9558c20ea9c0,F0017-C101-20220112-164700_13,000e746a20045adde95ecafc59ac8162_1,264.121307,349.344482,1183.0,"[[57, 68, 36], [57, 66, 35], [40, 49, 18], [29...",image_mask_13.png
3,2022-01-13 08:30:00,2022-01-13,1구역,F0017,10.85,92.62,2102.20,12.69,15.23,2022,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20220112-164700,8e84ea0c3de1901a72652c41169ee34a,F0017-C101-20220113-083000_15,000e746a20045adde95ecafc59ac8162_1,261.293915,349.513611,1077.0,"[[39, 51, 13], [64, 74, 37], [51, 61, 24], [55...",image_mask_15.png
4,2022-03-16 12:30:00,2022-03-16,1구역,F0017,28.13,45.38,420.70,15.76,295.86,2022,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20220316-083000,f88c6a60c83bbd6e543e01d131c0bb24,F0017-C101-20220316-123000_9,000e746a20045adde95ecafc59ac8162_2,262.844757,349.892456,3446.0,"[[77, 53, 29], [102, 78, 54], [123, 99, 75], [...",image_mask_9.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134628,2023-11-06 16:40:00,2023-11-06,1구역,F0017,15.68,63.21,450.30,20.44,16.66,2023,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20231106-124151,e3d3d1954dc01273fb279445416d8195,NaN,nan_0,NaN,NaN,NaN,NaN,NaN
134629,2023-11-08 08:40:00,2023-11-08,1구역,F0017,14.36,81.16,508.50,14.87,44.31,2023,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20231107-164055,4147e84b0bd1c0dfca01af8670363bb4,NaN,nan_0,NaN,NaN,NaN,NaN,NaN
134630,2023-11-15 12:40:00,2023-11-15,1구역,F0017,23.53,60.84,396.50,14.68,155.15,2023,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20231115-084514,7f65d0267715372c7ff9ee1c813bfec9,NaN,nan_0,NaN,NaN,NaN,NaN,NaN
134631,2023-12-08 12:40:00,2023-12-08,1구역,F0017,23.30,60.49,403.20,15.19,140.44,2023,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20231208-084505,a0ef6e06430ea2cfed011cc49855e894,NaN,nan_0,NaN,NaN,NaN,NaN,NaN
134632,2024-03-12 16:40:00,2024-03-12,1구역,F0017,18.93,78.11,380.22,16.67,68.87,2024,...,/opt/dlami/nvme/SAM_result/F0017/C101/F0017-C1...,F0017-C101-20240312-124259,81e91a4c374d2b215d30790c7d9daf98,NaN,nan_0,NaN,NaN,NaN,NaN,NaN

In [14]:
data[["input_image_name", "output_image_path"]]

                  input_image_name  output_image_path
0       F0017-C101-20211211-123000  image_mask_17.png
1       F0017-C101-20220112-083000  image_mask_13.png
2       F0017-C101-20220112-164700  image_mask_13.png
3       F0017-C101-20220113-083000  image_mask_15.png
4       F0017-C101-20220316-123000   image_mask_9.png
...                            ...                ...
134628  F0017-C101-20231106-164148                NaN
134629  F0017-C101-20231108-084123                NaN
134630  F0017-C101-20231115-124512                NaN
134631  F0017-C101-20231208-124512                NaN
134632  F0017-C101-20240312-164308                NaN

[134633 rows x 2 columns]

In [15]:
data[["input_image_name", "output_image_path"]].drop_duplicates()

                  input_image_name  output_image_path
0       F0017-C101-20211211-123000  image_mask_17.png
1       F0017-C101-20220112-083000  image_mask_13.png
2       F0017-C101-20220112-164700  image_mask_13.png
3       F0017-C101-20220113-083000  image_mask_15.png
4       F0017-C101-20220316-123000   image_mask_9.png
...                            ...                ...
134628  F0017-C101-20231106-164148                NaN
134629  F0017-C101-20231108-084123                NaN
134630  F0017-C101-20231115-124512                NaN
134631  F0017-C101-20231208-124512                NaN
134632  F0017-C101-20240312-164308                NaN

[134633 rows x 2 columns]

In [16]:
# data[data[["input_image_name", "output_image_path"]].duplicated()].sort_values(by="input_image_name")[["input_image_name", "output_image_path"]]

In [17]:
growth[["imagedirectory", "file_name"]]

                    imagedirectory          file_name
0       F0016-C101-20210910-125907   image_mask_1.png
1       F0016-C101-20210910-125907   image_mask_2.png
2       F0016-C101-20210910-165907   image_mask_3.png
3       F0016-C101-20210910-165907   image_mask_5.png
4       F0016-C101-20210910-165907   image_mask_6.png
...                            ...                ...
134323  F0017-C101-20240403-084305  image_mask_10.png
134324  F0017-C101-20240403-084305  image_mask_21.png
134325  F0017-C101-20240403-084305   image_mask_9.png
134326  F0017-C101-20240403-084305  image_mask_11.png
134327  F0017-C101-20240403-084305  image_mask_13.png

[134328 rows x 2 columns]

In [49]:
merged_data = data.merge(growth, how='outer', left_on=["input_image_name","output_image_path"], right_on=["imagedirectory", "file_name"])

In [50]:
merged_data.drop(["imagedirectory", "file_name"], axis=1, inplace=True)

In [20]:
# merged_data.drop("Unnamed: 0", axis=1, inplace=True)

In [21]:
# merged_data.iloc[:, 10:]

In [51]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134633 entries, 0 to 134632
Data columns (total 32 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   check_datetime     134633 non-null  object
 1   측정일자               134633 non-null  object
 2   구역명                134633 non-null  object
 3   farm_code          134633 non-null  object
 4   내부온도               132887 non-null  float64
 5   내부습도               132887 non-null  float64
 6   내부CO2              132887 non-null  float64
 7   근권온도               132887 non-null  float64
 8   내부순간일사량            132887 non-null  float64
 9   측정년도               134633 non-null  int64
 10  측정월                134633 non-null  int64
 11  input_image_name   134633 non-null  object
 12  input_image_path   134633 non-null  object
 13  img_id             134633 non-null  object
 14  area_code          134633 non-null  object
 15  shot_datetime      134633 non-null  object
 16  count_masks        134633 non-null  float64
 17  bbox_image_path    134633 non-null  object
 18  before_img_name    134633 non-null  object
 19  before_img_id      134633 non-null  object
 20  mask_num           134330 non-null  object
 21  mask_id            134633 non-null  object
 22  point_x            134330 non-null  float64
 23  point_y            134330 non-null  float64
 24  size               134330 non-null  float64
 25  color              134328 non-null  object
 26  output_image_path  134330 non-null  object
 27  origin_r           134328 non-null  float64
 28  origin_g           134328 non-null  float64
 29  origin_b           134328 non-null  float64
 30  pred_growth        134328 non-null  object
 31  mask_count         134328 non-null  float64
dtypes: float64(13), int64(2), object(17)
memory usage: 32.9+ MB

In [54]:
# image_info 상 존재는 하지만 실제로는 파일이 없는 경우 직접 행 삭제
merged_data.drop(index=[134302, 107962], axis=0, inplace=True)

In [55]:
merged_data.columns

Index(['check_datetime', '측정일자', '구역명', 'farm_code', '내부온도', '내부습도', '내부CO2',
       '근권온도', '내부순간일사량', '측정년도', '측정월', 'input_image_name',
       'input_image_path', 'img_id', 'area_code', 'shot_datetime',
       'count_masks', 'bbox_image_path', 'before_img_name', 'before_img_id',
       'mask_num', 'mask_id', 'point_x', 'point_y', 'size', 'color',
       'output_image_path', 'origin_r', 'origin_g', 'origin_b', 'pred_growth',
       'mask_count'],
      dtype='object')

In [56]:
merged_data.to_csv("merged_growth_real_final.csv", index=False, encoding="UTF8")